<p-panel>
  <p-header>
    <h6>Motivo de Oferta</h6>
  </p-header>

  <form novalidate (ngSubmit)="save()" [formGroup]="form">
    <div class="form-group row">
      <div class="col-3 col-sm-2">
        <label class="active" for="active">Ativo</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="active"></p-inputSwitch>
      </div>

      <div class="col-9 col-sm-10">
        <label class="active" for="name">Nome *</label>
        <input type="text" autofocus pInputText accesskey="o" id="name" class="form-control" formControlName="name"/>

        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('required') && (form.get('name').touched || form.get('name').dirty)">
          Campo obrigatório
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('minlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho mínimo permitido é {{form.get('name').errors.minlength.requiredLength}}
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('maxlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho máximo permitido é {{form.get('name').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label class="active" for="description">Descrição</label>
        <textarea rows="2" cols="100" pInputTextarea autoResize="autoResize" id="description" class="form-control" formControlName="description"></textarea>

        <div class="messages text-danger"
          *ngIf="form.get('description').hasError('maxlength') && (form.get('description').touched || form.get('description').dirty)">
          O tamanho máximo permitido é {{form.get('description').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>
  </form>
</p-panel>

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" pTooltip="Listagem de Motivos" tooltipPosition="right" (click)="goBack(true)" *ngIf="!buttonCancel.visible"></button>
    <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" accesskey="e" label="Editar" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && editable && permissionsUserLogged?.EDIT"></button>
    <button pButton type="submit" accesskey="g" label="Gravar" class="ui-button-success" (click)="save()" icon="fas fa-check" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && editable && permissionsUserLogged?.NEW"></button>
  </div>
</p-toolbar>
