<app-title></app-title>

<nav class="navbar pcoded-header">
  <div class="navbar-logo">  
    <img src="assets/images/logo.png" alt="Super Ideal" />
  </div>
</nav>

<div class="container-login">
  <div class="main-body">
    <router-outlet>
      <app-spinner></app-spinner>
    </router-outlet>

    <app-footer></app-footer>
  </div>
</div>

