.container-login {
  background: url("../../../assets/images/bg.jpg");
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}

.main-body {
  padding: 1rem;
  transition: all ease-in 0.3s;
}

.navbar {
  z-index: 100;
  background: #1f89ce;
  background-image: linear-gradient(to right, #1f89ce, #2399e5);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.pcoded-header {
  width: 100%;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
  display: block;
  text-align: center;
  padding: 10px;
  height: auto;
}
