p-radioButton {
  display: flex !important;
}

.ui-inputgroup {
  display: flex;
}

@media only screen and (max-width: 414px) {
  p-radioButton {
    display: inline-block !important;
    margin-right: 20px;
  }
}
