<form novalidate (ngSubmit)="save()" [formGroup]="form">
  <p-panel header="Detalhes do Produto" [toggleable]="true">
    <div class="form-group row">
      <div class="col-12 col-sm-4 col-md-3">
        <label class="active">Cód. Barras</label>
        <input type="text" pInputText class="form-control" disabled [value]="produt_details?.barcode"/>
      </div>

      <div class="col-12 col-sm-5 col-md-6">
        <label class="active">Descrição</label>
        <textarea rows="1" pInputTextarea autoResize="autoResize" class="form-control" disabled>{{ produt_details?.description }}</textarea>
      </div>

      <div class="col-12 col-sm-3 col-md-3">
        <label class="active">Preço</label>
        <input type="text" pInputText class="form-control" disabled [value]="produt_details?.price | currency:'BRL':'symbol'"/>
      </div>
    </div>
  </p-panel>

  <p-panel header="Oferta" [toggleable]="true" [collapsed]="false">
    <div formGroupName="product">
      <div class="form-group row">
        <div class="col-4 col-sm-2">
          <label class="active" for="active">Ativo</label>
          <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="active"></p-inputSwitch>
        </div>

        <div class="col-4 col-sm-3">
          <label class="active" for="active">Top Oferta</label>
          <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="top_offer"></p-inputSwitch>
        </div>

        <div class="col-4 col-sm-2">
          <label class="active" for="wholesale">Atacado</label>
          <p-inputSwitch name="wholesale" onLabel="Sim" offLabel="Não" formControlName="wholesale"></p-inputSwitch>
        </div>

        <div class="col-6 col-sm-5">
          <label class="active" for="active">Mostrar % Desconto</label>
          <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="view_percent_discount"></p-inputSwitch>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-sm-8">
          <label class="active" for="offer_motive_id">Motivo da Oferta</label>
          <p-dropdown inputId="offer_motive_id" class="text-left" formControlName="offer_motive_id"
            [options]="motives"
            [style]="{'width': '100%'}"
            dataKey="id"
            optionLabel="name"
            [autoDisplayFirst]="false"
            [showClear]="true"
            placeholder="Selecionar"
            emptyFilterMessage="Nenhum resultado encontrado">
          </p-dropdown>

          <div class="messages text-danger"
            *ngIf="form_product.get('offer_motive_id').hasError('required') && (form_product.get('offer_motive_id').touched || form_product.get('offer_motive_id').dirty)">
            Campo obrigatório
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <label class="active" for="limit_per_coupon">Limite por Cupom</label>
          <input id="limit_per_coupon" name="limit_per_coupon" type="text" pInputText class="form-control" formControlName="limit_per_coupon"/>

          <div class="messages text-danger"
            *ngIf="form_product.get('limit_per_coupon').hasError('min') && (form_product.get('limit_per_coupon').touched || form_product.get('limit_per_coupon').dirty)">
            Valor abaixo do mínimo permitido
          </div>
        </div>
      </div>
    </div>
  </p-panel>

  <p-panel header="Desconto" [toggleable]="true" [collapsed]="true">
    <div formGroupName="product">
      <div class="form-group row">
        <div class="col-12 col-sm-3">
          <label class="active" for="type">Tipo Desconto</label>
          <div class="col-auto p-0">
            <p-radioButton name="type" [value]="true" label="Dinheiro" formControlName="type_discount_money" (onClick)="setValueTypeDiscount('type_discount_money')"></p-radioButton>
            <p-radioButton name="type" [value]="true" label="Porcentagem" formControlName="type_discount_percentage" (onClick)="setValueTypeDiscount('type_discount_percentage')"></p-radioButton>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <label class="active" for="discount" *ngIf="form_product.get('type_discount_money').value || form_product.get('type_discount_percentage').value">Valor Desconto</label>
          <input
            *ngIf="form_product.get('type_discount_money').value"
            class="form-control autonumber"
            type="text"
            pInputText
            currencyMask [options]="{ prefix:'R$ ', align:'left', decimal:',', thousands:'.', allowZero: false, allowNegative: false }"
            formControlName="discount"
            (keyup)="calculatePercentualDiscountPerProduct()"
            (blur)="disablePriceTwo()"
          />

          <input
            *ngIf="form_product.get('type_discount_percentage').value"
            class="form-control autonumber"
            type="text"
            pInputText
            currencyMask [options]="{ prefix:'', align:'left', decimal:',', thousands:'.', allowZero: false, allowNegative: false }"
            formControlName="discount"
            [value]="form_product.get('discount').value | percent"
            (keyup)="calculatePercentualDiscountPerProduct()"
            (blur)="disablePriceTwo()"
          />

          <div class="messages text-danger"
            *ngIf="form_product.get('discount').hasError('required') && (form_product.get('discount').touched || form_product.get('discount').dirty)">
            Campo obrigatório
          </div>
        </div>

        <div class="col-12 col-sm-5">
          <label class="active" for="discount_price_two" *ngIf="form_product.get('type_discount_money').value || form_product.get('type_discount_percentage').value">Valor Desconto Preço Dois</label>
          <input
            *ngIf="form_product.get('type_discount_money').value"
            class="form-control autonumber"
            type="text"
            pInputText
            currencyMask [options]="{ prefix:'R$ ', align:'left', decimal:',', thousands:'.', allowZero: false, allowNegative: false }"
            formControlName="discount_price_two"
            (keyup)="calculatePercentualDiscountPerProduct()"
          />

          <input
            *ngIf="form_product.get('type_discount_percentage').value"
            class="form-control autonumber"
            type="text"
            pInputText
            currencyMask [options]="{ prefix:'', align:'left', decimal:',', thousands:'.', allowZero: false, allowNegative: false }"
            formControlName="discount_price_two"
            [value]="form_product.get('discount_price_two').value | percent"
            (keyup)="calculatePercentualDiscountPerProduct()"
          />

          <div class="messages text-danger"
            *ngIf="form_product.get('type_discount_percentage').hasError('required') && (form_product.get('discount_price_two').touched || form_product.get('discount_price_two').dirty)">
            Campo obrigatório
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <label class="active">Total Desconto por Produto (R$)</label>
          <input class="form-control autonumber" type="text" pInputText disabled
            [value]="discount_money_per_product | currency:'BRL':'symbol'"
          />
        </div>

        <div class="col-12 col-sm-6">
          <label class="active">Total Desconto por Produto (%)</label>
          <input class="form-control autonumber" type="text" pInputText disabled
            [value]="discount_percent_per_product | percent:'1.2'"
          />
        </div>
      </div>
    </div>
  </p-panel>

  <p-panel header="Acumulativo" [toggleable]="true" [collapsed]="true">
    <div formGroupName="product">
      <div class="form-group row">
        <div class="col-5">
          <label class="active" for="cumulative">Quantidade</label>
          <input id="cumulative" type="text" pInputText class="form-control" formControlName="cumulative" (keyup)="calculatePercentualDiscountPerProduct();" (blur)="disableCumulativePayable()"/>

          <div class="messages text-danger"
            *ngIf="form_product.get('cumulative').hasError('min') && (form_product.get('cumulative').touched || form_product.get('cumulative').dirty)">
            O valor mínimo é 2
          </div>
        </div>

        <div class="col-7">
          <label class="active" for="cumulative_payable">Quantidade a Pagar</label>
          <input id="cumulative_payable" type="text" pInputText class="form-control" formControlName="cumulative_payable" (keyup)="calculatePercentualDiscountPerProduct();" (blur)="verifyEnableDisableDiscountAndTypeDiscount($event);"/>

          <div class="messages text-danger"
            *ngIf="form_product.get('cumulative_payable').hasError('max') && (form_product.get('cumulative_payable').touched || form_product.get('cumulative_payable').dirty)">
            Valor máximo permitido ultrapassado
          </div>
        </div>
      </div>
    </div>
  </p-panel>

  <p-panel header="Grupo de Preço" [toggleable]="true" [collapsed]="true">
    <div formGroupName="product">
      <div class="form-group row">
        <div class="col-3 col-sm-2">
          <label class="active" for="price_group">Ativo</label>
          <p-inputSwitch name="price_group" onLabel="Sim" offLabel="Não" formControlName="price_group"></p-inputSwitch>
        </div>

        <div class="col-9 col-sm-10">
          <label class="active">Descrição</label>
          <input type="text" pInputText class="form-control" disabled [value]="produt_details?.group_price_name" />
        </div>
      </div>
    </div>

    <div formGroupName="products_price_group">
      <div class="form-group row">
        <div class="col-12">
          <label class="active" for="productsGroupPrice">Produtos do Grupo de Preço</label>
          <p-multiSelect
            inputId="productsGroupPrice"
            formControlName="addProductsGroupPrice"
            [options]="dataProductsGroupPrice"
            [style]="{'width': '100%'}"
            optionLabel="description"
            selectedItemsLabel="{0} produtos selecionadas"
            defaultLabel="Selecionar produtos para a oferta"
          ></p-multiSelect>
        </div>
      </div>
    </div>
  </p-panel>

  <p-panel header="Agendas de Oferta" [toggleable]="true" [collapsed]="true">
    <div class="form-group row">
      <div class="col-6 col-sm-3">
        <label class="active">Código Agenda</label>
        <p class="form-control">{{ dataProductOffers.data[dataProductOffers.page]?.offer_id }}</p>
      </div>
      <div class="col-6 col-sm-3">
        <label class="active">Tipo Agenda</label>
        <p class="form-control">{{ dataProductOffers.data[dataProductOffers.page]?.offer_type_name }}</p>
      </div>
      <div class="col-12 col-sm-6">
        <label class="active">Nome Agenda</label>
        <p class="form-control">{{ dataProductOffers.data[dataProductOffers.page]?.name }}</p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5 col-sm-5">
        <label class="active">Desconto a ser aplicado</label>
        <input type="text" pInputText class="form-control" disabled [value]="dataProductOffers.data[dataProductOffers.page]?.discount | currency:'BRL':'symbol'" />
      </div>
      <div class="col-7 col-sm-7">
        <label class="active">Desconto Preço Dois a ser aplicado</label>
        <input type="text" pInputText class="form-control" disabled [value]="dataProductOffers.data[dataProductOffers.page]?.discount_price_two | currency:'BRL':'symbol'" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-5 col-sm-5">
        <label class="active">Qtd. Acumulativo</label>
        <input type="text" pInputText class="form-control" disabled [value]="dataProductOffers.data[dataProductOffers.page]?.cumulative" />
      </div>
      <div class="col-7 col-sm-7">
        <label class="active">Qtd. Acumulativo a Pagar</label>
        <input type="text" pInputText class="form-control" disabled [value]="dataProductOffers.data[dataProductOffers.page]?.cumulative_payable" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6 col-sm-4">
        <label class="active">Início em</label>
        <input type="text" pInputText class="form-control" disabled [value]="dataProductOffers.data[dataProductOffers.page]?.datetime_start | date: 'dd/MM/yyyy HH:mm'" />
      </div>
      <div class="col-6 col-sm-4">
        <label class="active">Finaliza em</label>
        <input type="text" pInputText class="form-control" disabled [value]="dataProductOffers.data[dataProductOffers.page]?.datetime_end | date: 'dd/MM/yyyy HH:mm'" />
      </div>
      <div class="col-12 col-sm-4">
        <label class="active">Status</label>
        <input type="text" pInputText class="form-control" disabled [value]="dataProductOffers.data[dataProductOffers.page]?.status" />
      </div>
    </div>
    <p-paginator [rows]="1" [totalRecords]="dataProductOffers.data.length" pageLinkSize="3" [alwaysShow]="false" (onPageChange)="dataProductOffers.page = $event.first"></p-paginator>
  </p-panel>

  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" (click)="goBack(true)" pTooltip="Listagem de Produtos" tooltipPosition="right" *ngIf="!buttonCancel.visible"></button>
      <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="cancel();" *ngIf="buttonCancel.visible"></button>
    </div>

    <div class="ui-toolbar-group-right">
      <button pButton type="button" accesskey="e" label="Editar" (click)="enableForm();" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && this.offer.status !== 'FINALIZADA'"></button>
      <button pButton type="submit" accesskey="g" label="Gravar" class="ui-button-success" icon="fas fa-check" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && this.offer.status !== 'FINALIZADA'"></button>
    </div>
  </p-toolbar>
</form>
