<p-panel>
  <p-header>
    <h5>Listagem</h5>
    <button *ngIf="permissionsUserLogged?.NEW" pButton type="button" label="Novo Usuário" class="float-right" accesskey="n" icon="fas fa-plus" routerLink="cadastro" routerLinkActive="active"></button>
  </p-header>

  <p-table
    [columns]="table.cols"
    [value]="table.data"
    [rows]="table.rowsOnPage"
    [resizableColumns]="true"
    [responsive]="true"
    selectionMode="single"
    [(selection)]="table.selectedRowTable"
  >

  <ng-template pTemplate="caption">
    <div class="row p-0">
      <div class="col-md-12 text-right">
        <!--Options-->
        <p-dropdown
          class="text-left"
          [options]="search.searchOptions"
          [filter]="true" filterBy="label"
          [showClear]="false"
          emptyFilterMessage="Nenhum resultado encontrado"
          (onChange)="selectTheOperators($event.value)"
          [(ngModel)]="search.whereBy"
        ></p-dropdown>

        <!--Operators-->
        <p-dropdown
          class="text-left"
          [options]="search.searchOptionsOperator"
          [(ngModel)]="search.whereOperator"
          *ngIf="search.searchOptionsOperator.length != 0"
        ></p-dropdown>

        <!--Input Search-->
        <div style="display: initial;" [ngSwitch]="search.whereBy">
          <!--Option True or False-->
          <p-dropdown
            class="text-left"
            *ngSwitchCase="'active'"
            [options]="search.searchOptionsBoolean"
            [autoDisplayFirst]="false"
            placeholder="Selecionar Opção"
            [(ngModel)]="search.whereTextSearch"
            (onChange)="getAllUsers()"
          ></p-dropdown>

          <!--Date-->
          <p-calendar
            *ngSwitchCase="'created_at' || 'updated_at'"
            [locale]="calendarLanguage.pt_BR"
            [monthNavigator]="true"
            hourFormat="24"
            dateFormat="dd/mm/yy"
            placeholder="Informe a data"
            [(ngModel)]="search.whereTextSearch"
          ></p-calendar>

          <!--Input-->
          <div class="ui-inputgroup" *ngSwitchDefault>
            <input pInputText type="search" accesskey="b" (search)="getAllUsers()" [(ngModel)]="search.whereTextSearch" placeholder="Pesquisar">
            <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="getAllUsers()"></button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

    <!-- Header Table -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 4em" [pSortableColumn]="columns[0].field" pResizableColumn>
          {{columns[0].header}}
          <p-sortIcon [field]="columns[0].field"></p-sortIcon>
        </th>

        <th style="width: 5em" [pSortableColumn]="columns[1].field" pResizableColumn>
          {{columns[1].header}}
          <p-sortIcon [field]="columns[1].field"></p-sortIcon>
        </th>

        <th style="width: 15em" [pSortableColumn]="columns[2].field" pResizableColumn>
          {{columns[2].header}}
          <p-sortIcon [field]="columns[2].field"></p-sortIcon>
        </th>

        <th style="width: 8em" [pSortableColumn]="columns[3].field" pResizableColumn>
          {{columns[3].header}}
          <p-sortIcon [field]="columns[3].field"></p-sortIcon>
        </th>

        <th style="width: 15em" [pSortableColumn]="columns[4].field" pResizableColumn>
          {{columns[4].header}}
          <p-sortIcon [field]="columns[3].field"></p-sortIcon>
        </th>

        <th style="width: 5em" [pSortableColumn]="columns[5].field" pResizableColumn>
          {{columns[5].header}}
          <p-sortIcon [field]="columns[3].field"></p-sortIcon>
        </th>

        <th style="width: 10em" [pSortableColumn]="columns[6].field" pResizableColumn>
          {{columns[6].header}}
          <p-sortIcon [field]="columns[4].field"></p-sortIcon>
        </th>

        <th style="width: 10em" [pSortableColumn]="columns[7].field" pResizableColumn>
          {{columns[7].header}}
          <p-sortIcon [field]="columns[5].field"></p-sortIcon>
        </th>

        <th style="width: 3em" pResizableColumn>
          <button pButton type="button" accesskey="r" class="ui-button-secondary" icon="fas fa-sync" pTooltip="Atualizar" tooltipPosition="top" (click)="getAllUsers()"></button>
        </th>
      </tr>
    </ng-template>

    <!-- Body Table -->
    <ng-template pTemplate="body" let-data let-columns="columns">
      <tr
        [pSelectableRow]="data"
        (dblclick)="goToViewDetails(data.id)"
        [class.row-red]="!!!data.active"
      >
        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[0].header}}</span>
          {{data.id}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[1].header}}</span>
          {{data.active ? 'Sim' : 'Não'}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[2].header}}</span>
          {{data.name_reason}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[3].header}}</span>
          {{data.username}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[4].header}}</span>
          {{data.email}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[5].header}}</span>
          {{data.status}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[6].header}}</span>
          {{data.created_at | date: 'dd/MM/yyyy HH:mm'}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[7].header}}</span>
          {{data.updated_at | date: 'dd/MM/yyyy HH:mm'}}
        </td>

        <td>
          <span class="ui-column-title">Opções</span>
          <button pButton type="button" style="padding: 0;" class="ui-button-secondary" icon="fas fa-eye" pTooltip="Visualizar detalhes" tooltipPosition="left" [routerLink]="['cadastro/', data.id]"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr class="emptymessage">
        <td [attr.colspan]="columns.length">
          Nenhum usuário foi encontrado
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      Total de usuários encontrados: {{table.elementsPagination?.total}}
    </ng-template>
  </p-table>

  <p-paginator
    [rows]="table.rowsOnPage"
    [totalRecords]="table.elementsPagination?.total"
    [alwaysShow]="false"
    [pageLinkSize]="5"
    (onPageChange)="setPage($event)"
    [rowsPerPageOptions]="table.selectRowsOnPage">
  </p-paginator>

  <li class="row-red m-0 mt-2">Usuário desativado.</li>
</p-panel>
