<div class="container-login">
  <div class="error">
    <div class="container">
      <div class="row">
        <div class="col-12" style="text-align:center">
          <img src="assets/images/404.png">
        </div>
      </div>

      <div class="row">
        <div class="col-12" style="text-align:center">
          <h5 style="padding-top: 10px">Oops.. algo está errado!</h5>
          <p>Não encontramos o que você deseja.</p>
          <button pButton type="button" styleClass="ui-button-info" label="Voltar para a página anterior" (click)="goBack()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
