/* Menu */
.ui-panelmenu .ui-panelmenu-header.ui-state-active {
  border-color: #2399e5;
  background: #2399e5;

  a {
    border-color: #2399e5;
    background: #2399e5;
  }
}

/* InputText */
.ui-inputtext:disabled {
  background-color: #f7f7f7;
}

.ui-inputtext:enabled:hover {
  border-color: #2399e5;
}

.ui-inputtext:focus {
  box-shadow: 0px 0px 5px #2399e5;
  border: 1px solid #1f89ce;
}

/* Checkbox */
.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
  border: 1px solid #2399e5;
  background: #2399e5;
  color: #FFFFFF;
}

.ui-state-highlight {
  border-color: #2399e5;
  background: #2399e5;
  color: #FFFFFF;
}

/* Paginator */
.ui-paginator .ui-paginator-page.ui-state-active {
  background: #2399e5;
  color: #ffffff;
  border-color: #2399e5;
}

/* Toggle Button */
.ui-togglebutton.ui-button.ui-state-active {
    background: #2399e5;
    border: #2399e5;
}

/* Button */
.ui-button-primary.ui-widget.ui-button, .ui-button {
  border: 1px solid #2399e5;
  background: #2399e5;
}

.ui-button-primary.ui-widget.ui-button:enabled:hover, .ui-button-primary.ui-widget.ui-button:focus, .ui-button-primary.ui-button:enabled:hover, .ui-button-primary.ui-button:focus {
  border: 1px solid #1f89ce;
  background: #1f89ce;
}

.ui-button-primary.ui-widget.ui-button:enabled:active, .ui-button-primary.ui-button:enabled:active {
  border: 1px solid #1f89ce;
  background: #1f89ce;
}

/* DropDown */
.ui-dropdown .ui-inputtext {
  color: #555555;
}

.ui-dropdown .ui-placeholder {
  color: #555555;
}

.ui-dropdown.ui-state-disabled {
  opacity: 0.6;
}
.ui-dropdown.ui-state-disabled .ui-dropdown-label {
  background-color: #f7f7f7;
  color: #000;
}

p-dropdown.ng-dirty.ng-invalid > .ui-dropdown {
  border-bottom-color: #d6d6d6;
}

.ui-dropdown-panel .ui-dropdown-filter-container {
  border: 1px solid #d9d9d9;
  background: #f6f7f9;
  color: #1b1d1f;
}

/* MultiSelect */
p-multiSelect.ng-dirty.ng-invalid > .ui-multiselect {
  border-bottom-color: #d6d6d6;
}

.ui-multiselect.ui-state-disabled {
  opacity: 0.7 !important;
}
.ui-multiselect.ui-state-disabled .ui-multiselect-label {
  background-color: #f7f7f7;
  color: #171616;
}
.ui-multiselect.ui-state-disabled .ui-multiselect-trigger {
  background: #f7f7f7;
  color: #171616;
}

/* Calendar */
.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
  background-color: #2399e5 !important;
  color: #ffffff;
}

.ui-calendar .ui-calendar-button {
  background: #2399e5;
  border: 1px solid #2399e5;
}
.ui-calendar .ui-calendar-button:enabled:hover, .ui-calendar .ui-calendar-button:enabled:focus {
  background: #1f89ce;
  border: 1px solid #1f89ce;
}
.ui-calendar .ui-calendar-button:enabled:active {
  border: 1px solid #2399e5;
  background: #2399e5;
}

/* AutoComplete */
.ui-autocomplete-dropdown.ui-button, .ui-autocomplete-dropdown.ui-button:enabled:active, .ui-autocomplete-dropdown.ui-button:enabled:hover {
  border: 1px solid #d6d6d6;
  background: #ffffff;
  color: #555555;
  border-left: none;
}

/* TabView */
.ui-tabview {
  .ui-tabview-panels {
    border: 1px solid #ddd;
  }

  .ui-state-active {
    border-color: #ddd;
  }
}

/* InputSwitch */
.ui-inputswitch-on {
  background-color: #2399e5 !important;
}

/** Table */
.ui-widget-header {
  background: #f6f7f9 0 0 repeat-x;
}

.ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #f5f5f7;
}

.ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td {
  background: #f6f7f9;
}

.ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
  background: #ebedf0;
}

.ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #ddd;
  color: #212529;
}

.ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #2399e5;
}

.ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #2399e5;
}

/* Panel */
.ui-panel {
  .ui-tabview.ui-tabview-top>.ui-tabview-nav {
    border-bottom: 1px solid #ddd;
  }
}
