<form novalidate [formGroup]="form_phones" class="mb-2">
  <div class="form-group row">
    <div class="col-12 col-sm-12">
      <label class="active" for="type">Tipo</label>
      <p-autoComplete
        [style]="{'width': '100%'}"
        formControlName="type"
        inputId="type"
        [suggestions]="table.phones.filteredType"
        (completeMethod)="filterTypePhones($event)"
        [dropdown]="true"
      ></p-autoComplete>
    </div>

    <div class="col-6 col-sm-2">
      <label class="active" for="ddi">DDI</label>
      <input type="text" pInputText id="ddi" class="form-control" [textMask]="{mask: maskDdi, guide: false}" formControlName="ddi" />
    </div>

    <div class="col-6 col-sm-2">
      <label class="active" for="ddd">DDD *</label>
      <input type="text" pInputText id="ddd" class="form-control" [textMask]="{mask: maskDdd, guide: false}" formControlName="ddd" />

      <div class="messages text-danger" *ngIf="form_phones.get('ddd').hasError('required') && (form_phones.get('ddd').touched || form_phones.get('ddd').dirty)">
        Campo obrigatório
      </div>
    </div>

    <div class="col-6 col-sm-5">
      <label class="active" for="number">Número Telefone *</label>
      <input type="text" pInputText id="number" class="form-control" [textMask]="{mask: maskNumberTell, guide: false}" formControlName="number" />

      <div class="messages text-danger" *ngIf="form_phones.get('number').hasError('required') && (form_phones.get('number').touched || form_phones.get('number').dirty)">
        Campo obrigatório
      </div>
      <div class="messages text-danger" *ngIf="form_phones.get('number').hasError('minlength') && (form_phones.get('number').touched || form_phones.get('number').dirty)">
        O tamanho mínimo permitido é {{form_phones.get('number').errors.minlength.requiredLength}}
      </div>
      <div class="messages text-danger" *ngIf="form_phones.get('number').hasError('maxlength') && (form_phones.get('number').touched || form_phones.get('number').dirty)">
        O tamanho máximo permitido é {{form_phones.get('number').errors.maxlength.requiredLength}}
      </div>
    </div>

    <div class="col-6 col-sm-3">
      <label class="active" for="telephone_extension">Ramal</label>
      <input type="number" pInputText id="telephone_extension" class="form-control" formControlName="telephone_extension" />
    </div>

    <div class="col-12 col-sm-12">
      <label class="active" for="description">Observação</label>
      <input type="text" pInputText id="description" class="form-control" formControlName="description" />
    </div>
  </div>

  <!--Buttons-->
  <p-toolbar *ngIf="form_partner_enabled">
    <div class="ui-toolbar-group-right">
      <button pButton type="button" label="Novo" class="ui-button-secondary float-right"  style="float: right;" icon="fas fa-check" (click)="form_phones.reset(); enableFormPhones(true);" [disabled]="table.phones.buttons.buttonNew.disabled" *ngIf="table.phones.buttons.buttonNew.visible && permissionsUserLogged?.NEW"></button>
      <button pButton type="submit" label="Gravar" class="ui-button-secondary float-right" icon="fas fa-check" (click)="addOrUpdatePhone();" [disabled]="table.phones.buttons.buttonSave.disabled || form_phones.invalid" *ngIf="table.phones.buttons.buttonSave.visible && (permissionsUserLogged?.NEW || permissionsUserLogged?.EDIT)"></button>
      <button pButton type="button" label="Editar" class="ui-button-secondary float-right" icon="fas fa-pencil-alt" (click)="enableFormPhones();" [disabled]="table.phones.buttons.buttonDelete.disabled" *ngIf="table.phones.buttons.buttonEdit.visible && permissionsUserLogged?.EDIT"></button>
      <button pButton type="button" label="Excluir" class="ui-button-secondary float-right" icon="fas fa-trash" (click)="removePhone()" [disabled]="table.phones.buttons.buttonDelete.disabled" *ngIf="table.phones.buttons.buttonDelete.visible && permissionsUserLogged?.DELETE"></button>
      <button pButton type="button" label="Cancelar" class="ui-button-secondary float-right" icon="fas fa-ban" (click)="disableFormPhones()" *ngIf="table.phones.buttons.buttonCancel.visible"></button>
    </div>
  </p-toolbar>
</form>

<p-messages *ngIf="!!!table.phones.data.length" [(value)]="table.phones.messageNotFound" [closable]="false"></p-messages>
<p-table #dtPhone
  *ngIf="!!table.phones.data.length"
  [columns]="table.phones.cols"
  [value]="table.phones.data"
  [resizableColumns]="true"
  [responsive]="true"
  [paginator]="true" [rows]="5"
  selectionMode="single"
  [(selection)]="selectedRowTablePhones"
>
  <!-- Header Table -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col?.width}" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!-- Body Table-->
  <ng-template pTemplate="body" let-data let-columns="columns">
    <tr [pSelectableRow]="data" [pSelectableRowDisabled]="table.phones.disableRow">
      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[0].header}}</span>
        {{data?.id}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[1].header}}</span>
        {{data?.type}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[2].header}}</span>
        {{data?.ddi}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[3].header}}</span>
        {{data.ddd}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[4].header}}</span>
        {{data.number}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[5].header}}</span>
        {{data.telephone_extension}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[6].header}}</span>
        {{data?.description}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[7].header}}</span>
        {{data.created_at | date: 'dd/MM/yyyy HH:mm' }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    Total de telefones: {{dtPhone.totalRecords}}
  </ng-template>
</p-table>
