<p-messages *ngIf="!images" [(value)]="messageNotFoundImages" [closable]="false"></p-messages>

<div class="row" *ngIf="images">
  <div class="col-12 col-sm-4 col-md-3" *ngFor="let item of images; let i = index; let first = first;">
    <p-panel styleClass="gallery-item">
      <p-header>
        {{ item?.caption }}
      </p-header>

      <img class="img-thumb" [src]="item?.thumb" [alt]="item?.caption" (click)="openLightBoxGallery(i)"/>

      <hr class="ui-widget-content" style="border-top:0">
      <!--<button pButton type="button"
        icon="fas fa-star"
        pTooltip="Marcar como principal" tooltipPosition="top"
        class="ui-button-secondary"
        [ngClass]="{'ui-button-warning': item.master}"
        [disabled]="!enabled || !!item.master"
      ></button>-->

      <button pButton type="button"
        class="ui-button-danger"
        icon="fas fa-trash"
        pTooltip="Excluir Imagem" tooltipPosition="top"
        (click)="deleteImage(item);"
        [disabled]="!enabled"
      ></button>
    </p-panel>
  </div>
</div>
