<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title m-0">Produtos</span>

      <button pButton type="button" icon="fas fa-plus" label="Adicionar" class="float-right"
        (click)="showDisplayListProducts({productList: true, productForm: false})"
        *ngIf="offerData?.status != 'FINALIZADA'"
      ></button>
    </div>
  </p-header>

  <p-messages [(value)]="msgNotFoundProducts" [closable]="false"></p-messages>

  <div *ngIf="table.dataOffersProducts.length">
    <p-table
      [columns]="table.cols"
      [value]="table.dataOffersProducts"
      [rows]="table.rowsOnPage"
      [resizableColumns]="true"
      [responsive]="true"
      selectionMode="single"
      [(selection)]="selectedRowTable"
      dataKey="product_id"
    >
      <ng-template pTemplate="caption">
        <div class="row p-0">
          <div class="col-md-12 text-right">
            {{search.optionSelected}}
            <p-dropdown class="text-left" [options]="search.searchOptions" [filter]="true" filterBy="label" (onChange)="selectTheOperators($event.value)" [(ngModel)]="search.whereBy"></p-dropdown>
            <p-dropdown class="text-left" [options]="search.searchOptionsOperator" [(ngModel)]="search.whereOperator"></p-dropdown>

            <div class="ui-inputgroup">
              <input pInputText size="20" type="search" accesskey="b" (search)="searchManual()" [(ngModel)]="search.whereTextSearch" placeholder="Pesquisar">
              <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="searchManual()"></button>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- Header Table -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em" [pSortableColumn]="columns[0].field" pResizableColumn [pTooltip]="columns[0].tooltip" tooltipPosition="top">
            {{columns[0].header}}
            <p-sortIcon [field]="columns[0].field"></p-sortIcon>
          </th>

          <th style="width: 4em" [pSortableColumn]="columns[1].field" pResizableColumn [pTooltip]="columns[1].tooltip" tooltipPosition="top">
            {{columns[1].header}}
            <p-sortIcon [field]="columns[1].field"></p-sortIcon>
          </th>

          <th style="width: 7.3em" [pSortableColumn]="columns[2].field" pResizableColumn [pTooltip]="columns[2].tooltip" tooltipPosition="top">
            {{columns[2].header}}
            <p-sortIcon [field]="columns[2].field"></p-sortIcon>
          </th>

          <th style="width: 20em" [pSortableColumn]="columns[3].field" pResizableColumn [pTooltip]="columns[3].tooltip" tooltipPosition="top">
            {{columns[3].header}}
            <p-sortIcon [field]="columns[3].field"></p-sortIcon>
          </th>

          <th style="width: 5em" [pSortableColumn]="columns[4].field" pResizableColumn [pTooltip]="columns[4].tooltip" tooltipPosition="top">
            {{columns[4].header}}
            <p-sortIcon [field]="columns[4].field"></p-sortIcon>
          </th>

          <th style="width: 8em" [pSortableColumn]="columns[5].field" pResizableColumn [pTooltip]="columns[5].tooltip" tooltipPosition="top">
            {{columns[5].header}}
            <p-sortIcon [field]="columns[5].field"></p-sortIcon>
          </th>

          <th style="width: 6em" [pSortableColumn]="columns[6].field" pResizableColumn [pTooltip]="columns[6].tooltip" tooltipPosition="top">
            {{columns[6].header}}
            <p-sortIcon [field]="columns[6].field"></p-sortIcon>
          </th>

          <th style="width: 6em" [pSortableColumn]="columns[7].field" pResizableColumn [pTooltip]="columns[7].tooltip" tooltipPosition="top">
            {{columns[7].header}}
            <p-sortIcon [field]="columns[7].field"></p-sortIcon>
          </th>

          <th style="width: 10em" [pSortableColumn]="columns[8].field" pResizableColumn [pTooltip]="columns[8].tooltip" tooltipPosition="top">
            {{columns[8].header}}
            <p-sortIcon [field]="columns[8].field"></p-sortIcon>
          </th>

          <th style="width: 10em" [pSortableColumn]="columns[9].field" pResizableColumn [pTooltip]="columns[9].tooltip" tooltipPosition="top">
            {{columns[9].header}}
            <p-sortIcon [field]="columns[9].field"></p-sortIcon>
          </th>

          <th style="width: 11em" [pSortableColumn]="columns[10].field" pResizableColumn [pTooltip]="columns[10].tooltip" tooltipPosition="top">
            {{columns[10].header}}
            <p-sortIcon [field]="columns[10].field"></p-sortIcon>
          </th>

          <th style="width: 4em" [pSortableColumn]="columns[11].field" pResizableColumn [pTooltip]="columns[11].tooltip" tooltipPosition="top">
            {{columns[11].header}}
            <p-sortIcon [field]="columns[11].field"></p-sortIcon>
          </th>

          <th style="width: 6em" [pSortableColumn]="columns[12].field" pResizableColumn [pTooltip]="columns[12].tooltip" tooltipPosition="top">
            {{columns[12].header}}
            <p-sortIcon [field]="columns[12].field"></p-sortIcon>
          </th>

          <th style="width: 10em" [pSortableColumn]="columns[13].field" pResizableColumn [pTooltip]="columns[13].tooltip" tooltipPosition="top">
            {{columns[13].header}}
            <p-sortIcon [field]="columns[13].field"></p-sortIcon>
          </th>

          <th style="width: 9em" [pSortableColumn]="columns[14].field" pResizableColumn [pTooltip]="columns[14].tooltip" tooltipPosition="top">
            {{columns[14].header}}
            <p-sortIcon [field]="columns[14].field"></p-sortIcon>
          </th>

          <th style="width: 13em" [pSortableColumn]="columns[15].field" pResizableColumn [pTooltip]="columns[15].tooltip" tooltipPosition="top">
            {{columns[15].header}}
            <p-sortIcon [field]="columns[15].field"></p-sortIcon>
          </th>

          <th style="width: 3em" pResizableColumn>
            <button pButton type="button" accesskey="r" class="ui-button-secondary" icon="fas fa-sync" pTooltip="Atualizar" tooltipPosition="top" (click)="getAllOffersProducts()"></button>
          </th>
        </tr>
      </ng-template>

      <!-- Body Table-->
      <ng-template pTemplate="body" let-dataOffersProducts let-expanded="expanded" let-columns="columns">
        <tr [pSelectableRow]="dataOffersProducts" (dblclick)="showDisplayAddProductForm({product: dataOffersProducts, type: 'view'})">
          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[0].header}}</span>
            {{dataOffersProducts?.id}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[1].header}}</span>
            {{dataOffersProducts?.active ? 'Sim' : 'Não'}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[2].header}}</span>
            {{dataOffersProducts?.product_barcode}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[3].header}}</span>
            {{dataOffersProducts?.product_description}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[4].header}}</span>
            {{dataOffersProducts?.product_price | currency:'BRL':'symbol'}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[5].header}}</span>
            {{dataOffersProducts?.type_discount_percentage ? 'Sim' : 'Não'}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[6].header}}</span>
            {{dataOffersProducts?.type_discount_money ? 'Sim' : 'Não'}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[7].header}}</span>
            <div *ngIf="dataOffersProducts.type_discount_money">{{dataOffersProducts?.discount | currency:'BRL':'symbol'}}</div>
            <div *ngIf="dataOffersProducts.type_discount_percentage">{{dataOffersProducts?.discount | percent:'1.2-5' }}</div>
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[8].header}}</span>
            {{dataOffersProducts?.discount_price_two | currency:'BRL':'symbol'}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[9].header}}</span>
            {{dataOffersProducts?.cumulative}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[10].header}}</span>
            {{dataOffersProducts?.cumulative_payable}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[11].header}}</span>
            {{dataOffersProducts?.top_offer ? 'Sim' : 'Não'}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[12].header}}</span>
            {{dataOffersProducts?.wholesale ? 'Sim' : 'Não'}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[13].header}}</span>
            {{dataOffersProducts?.limit_per_coupon}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[14].header}}</span>
            {{dataOffersProducts?.price_group ? 'Sim' : 'Não'}}
          </td>

          <td class="ui-resizable-column">
            <span class="ui-column-title">{{columns[15].header}}</span>
            {{dataOffersProducts?.view_percent_discount ? 'Sim' : 'Não'}}
          </td>

          <td>
            <span class="ui-column-title">Opções</span>
            <button pButton type="button" class="ui-button-secondary" icon="fas fa-eye" pTooltip="Visualizar detalhes" tooltipPosition="left" (click)="showDisplayAddProductForm({product: dataOffersProducts, type: 'view'})"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr class="emptymessage">
          <td [attr.colspan]="columns.length + 1">
            Nenhum produto foi encontrado
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        Total de produtos na agenda: {{table.elementsPagination.total}}
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="table.rowsOnPage"
      [totalRecords]="table.elementsPagination.total"
      [alwaysShow]="false"
      [pageLinkSize]="5"
      (onPageChange)="setPage($event)"
      [rowsPerPageOptions]="table.selectRowsOnPage">
    </p-paginator>
  </div>
</p-panel>

<!-- Modal para selecionar um produto -->
<p-dialog
  header="Selecionar Produto"
  [contentStyle]="{'max-width':'640px'}"
  [modal]="true"
  [baseZIndex]="30"
  [(visible)]="displayAddProductList"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [positionTop]="3"
  [closeOnEscape]="true"
>
  <app-modal-list-products-add
    *ngIf="displayAddProductList"
    [productsInOffer]="table.dataOffersProducts"
    (productSelectedEvent)="showDisplayAddProductForm($event)"
  ></app-modal-list-products-add>
</p-dialog>

<!-- Modal de detalhes do produto em oferta -->
<p-dialog
  header="Produto em Oferta"
  [contentStyle]="{'max-width':'640px'}"
  [modal]="true"
  [baseZIndex]="30"
  [(visible)]="displayAddProductForm"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [closeOnEscape]="false"
>
  <app-form-add-product *ngIf="displayAddProductForm"
    [data]="{product: productSelected, type: typeViewFormProduct, offer: offerData}"
    (showDisplayAddProductList)="showDisplayListProducts($event)"
  ></app-form-add-product>
</p-dialog>
