<div id="http-loader" *ngIf="isSpinnerVisible">
  <div class="loader-bg">
    <!--sk-wave-->
    <div class="theme-loader" [class.colored]="!backgroundColor" *ngIf="spinner === Spinkit.skWave">
      <!-- Pre-loader start -->
        <div class="ball-scale">
          <div class='contain'>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
            <div class="ring"><div class="frame"></div></div>
          </div>
        </div>
      <!-- Pre-loader end -->
    </div>
  </div>
</div>
