/* Header */

/* Theme Blue */
.pcoded .pcoded-header[header-theme="theme-blue"] {
  background: #1f89ce;
  background-image: linear-gradient(to right, #1f89ce, #2399e5);
}

.pcoded .pcoded-header[header-theme="theme-blue"] a {
  color: #fff;
}

.pcoded .pcoded-header[header-theme="theme-blue"] .navbar-logo a {
  color: #fff;
}

/* Theme Red */
.pcoded .pcoded-header[header-theme="theme-red"] {
  background: #d9534f;
  background-image: linear-gradient(to right, #d9534f, #d43f3a);
}

.pcoded .pcoded-header[header-theme="theme-red"] a {
  color: #fff;
}

.pcoded .pcoded-header[header-theme="theme-red"] .navbar-logo a {
  color: #fff;
}
