.theme-loader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999999;
  top: 0
}
.ball-scale {
  left: 50%;
  top: 50%;
  position: absolute;
  height: 50px;
  width: 75px;
  margin: -25px 0 0 -37.5px
}
@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1)
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4)
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1)
  }
}
@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1)
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4)
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1)
  }
}
.ball-scale .contain>div {
  width: 3px;
  height: 50px;
  border-radius: 5px;
  margin: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85)
}
.ball-scale .contain>div:nth-child(4),
.ball-scale .contain>div:nth-child(6) {
  -webkit-animation-delay: -0.4s !important;
  animation-delay: -0.4s !important
}
.ball-scale .contain>div:nth-child(3),
.ball-scale .contain>div:nth-child(7) {
  -webkit-animation-delay: -0.3s !important;
  animation-delay: -0.3s !important
}
.ball-scale .contain>div:nth-child(2),
.ball-scale .contain>div:nth-child(8) {
  -webkit-animation-delay: -0.2s !important;
  animation-delay: -0.2s !important
}
.ball-scale .contain>div:nth-child(1),
.ball-scale .contain>div:nth-child(9) {
  -webkit-animation-delay: -0.1s !important;
  animation-delay: -0.1s !important
}
@-webkit-keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1)
  }
  80% {
    -webkit-transform: scaley(0.3);
    transform: scaley(0.3)
  }
  90% {
    -webkit-transform: scaley(1);
    transform: scaley(1)
  }
}
@keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1)
  }
  80% {
    -webkit-transform: scaley(0.3);
    transform: scaley(0.3)
  }
  90% {
    -webkit-transform: scaley(1);
    transform: scaley(1)
  }
}
.ball-scale .contain>div {
  width: 3px;
  height: 50px;
  border-radius: 5px;
  margin: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
  animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78)
}
.ball-scale .contain>div:nth-child(4),
.ball-scale .contain>div:nth-child(6) {
  -webkit-animation-delay: -0.30s !important;
  animation-delay: -0.30s !important
}
.ball-scale .contain>div:nth-child(3),
.ball-scale .contain>div:nth-child(7) {
  -webkit-animation-delay: -0.20s !important;
  animation-delay: -0.20s !important
}
.ball-scale .contain>div:nth-child(2),
.ball-scale .contain>div:nth-child(8) {
  -webkit-animation-delay: -0.10s !important;
  animation-delay: -0.10s !important
}
.ball-scale .contain>div:nth-child(1),
.ball-scale .contain>div:nth-child(9) {
  -webkit-animation-delay: 0s !important;
  animation-delay: 0s !important
}
.ball-scale .contain>div:nth-child(1) {
  background-color: #2399e5;
  margin: 0 1.5px;
}
.ball-scale .contain>div:nth-child(2) {
  background-color: #d9534f;
  margin: 0 1.5px;
}
.ball-scale .contain>div:nth-child(3) {
  background-color: #303549;
  margin: 0 1.5px;
}
.ball-scale .contain>div:nth-child(4) {
  background-color: #93be52;
  margin: 0 1.5px;
}
.ball-scale .contain>div:nth-child(5) {
  background-color: #ffb64d;
  margin: 0 1.5px;
}
.ball-scale .contain>div:nth-child(6) {
  background-color: #93be52;
  margin: 0 1.5px;
}
.ball-scale .contain>div:nth-child(7) {
  background-color: #303549;
  margin: 0 1.5px;
}
.ball-scale .contain>div:nth-child(8) {
  background-color: #d9534f;
  margin: 0 1.5px;
}
.ball-scale .contain>div:nth-child(9) {
  background-color: #2399e5;
  margin: 0 1.5px;
}
