/* Theme Sidebar Title */
.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme="theme-grey"] {
  color: #999 !important;
}

.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme="theme-light"] {
  color: #fff !important;
}

/*======= All-Borders-color css ends  ======= */
/**====== Generic-class css end ======**/
.pcoded .pcoded-navbar .pcoded-item > li.active > a {
  font-weight: 600;
}

.pcoded .d-color > ul:nth-child(1) > li > a > .pcoded-micon {
  background-color: #dc3545;
}

.pcoded .d-color > ul:nth-child(2) > li > a > .pcoded-micon {
  background-color: #2399e5;
}

.pcoded .d-color > ul:nth-child(3) > li > a > .pcoded-micon {
  background-color: #303549;
}

.pcoded .d-color > ul:nth-child(4) > li > a > .pcoded-micon {
  background-color: #93BE52;
}

.pcoded .d-color > ul:nth-child(5) > li > a > .pcoded-micon {
  background-color: #FFB64D;
}

.pcoded .d-color > ul:nth-child(6) > li > a > .pcoded-micon {
  background-color: #ff3366;
}

.pcoded .d-color > ul:nth-child(7) > li > a > .pcoded-micon {
  background-color: #39ADB5;
}
