<p-panel>
  <p-header>
    <h6 *ngIf="data?.id">Atributo #{{ data?.id }}</h6>
    <h6 *ngIf="!data?.id">Atributo</h6>
  </p-header>

  <form novalidate (ngSubmit)="save()" [formGroup]="form">
    <div class="form-group row">
      <div class="col-12">
        <label class="active" for="active">Ativo</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="active"></p-inputSwitch>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12 col-sm-4 col-md-3">
        <label class="active" for="type_id">Tipo do Atributo</label>
        <p-dropdown class="text-left" formControlName="type_id"
          (onChange)="type_selected($event.value)"
          [options]="types"
          [style]="{'width': '100%'}"
          dataKey="id"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [autoDisplayFirst]="false"
          [showClear]="true"
          placeholder="Selecionar Tipo"
          emptyFilterMessage="Nenhum resultado encontrado">
        </p-dropdown>

        <div class="messages text-danger"
          *ngIf="form.get('type_id').hasError('required') && (form.get('type_id').touched || form.get('type_id').dirty)">
          Campo obrigatório
        </div>
      </div>

      <div class="col-12 col-sm-8 col-md-9">
        <label class="active" for="style">Descrição do tipo</label>
        <textarea rows="1" pInputTextarea autoResize="autoResize" class="form-control" disabled>{{ typeSelected?.description }}</textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12 col-sm-4 col-md-3">
        <label class="active" for="style">Estilo</label>
        <input type="text" pInputText class="form-control" disabled [value]="typeSelected?.style?.name" />
      </div>
    
      <div class="col-12 col-sm-8 col-md-9">
        <label class="active" for="style">Descrição do estilo</label>
        <textarea rows="1" cols="100" pInputTextarea autoResize="autoResize" class="form-control" disabled>{{ typeSelected?.style?.description }}</textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label class="active" for="name">Nome</label>
        <input type="text" autofocus pInputText accesskey="o" id="name" class="form-control" formControlName="name"/>

        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('required') && (form.get('name').touched || form.get('name').dirty)">
          Campo obrigatório
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('minlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho mínimo permitido é {{form.get('name').errors.minlength.requiredLength}}
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('maxlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho máximo permitido é {{form.get('name').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label class="active" for="description">Descrição</label>
        <textarea rows="2" cols="100" pInputTextarea autoResize="autoResize" id="description" class="form-control" formControlName="description"></textarea>

        <div class="messages text-danger"
          *ngIf="form.get('description').hasError('maxlength') && (form.get('description').touched || form.get('description').dirty)">
          O tamanho máximo permitido é {{form.get('description').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>

    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" pTooltip="Listagem de Atributos" tooltipPosition="right" (click)="goBack(true)" *ngIf="!buttonCancel.visible"></button>
        <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
      </div>

      <div class="ui-toolbar-group-right">
        <button pButton type="button" accesskey="e" label="Editar" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && permissionsUserLogged?.EDIT"></button>
        <button pButton type="submit" accesskey="g" label="Gravar" class="ui-button-success" icon="fas fa-check" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && permissionsUserLogged?.NEW"></button>
      </div>
    </p-toolbar>
  </form>
</p-panel>
