<p-table
  [columns]="table.cols"
  [value]="table.dataPartners"
  [rows]="table.rowsOnPage"
  [resizableColumns]="true"
  [responsive]="true"
  selectionMode="single"
  [(selection)]="selectedRowTable"
>
  <ng-template pTemplate="caption">
    <div class="row p-0">
      <div class="col-md-12 text-left">
        <!--Options-->
        <p-dropdown
          [options]="search.searchOptions"
          [filter]="true" filterBy="label"
          [showClear]="false"
          emptyFilterMessage="Nenhum resultado encontrado"
          (onChange)="selectTheOperators($event.value)"
          [(ngModel)]="search.whereBy"
        ></p-dropdown>

        <!--Operators-->
        <p-dropdown
          [options]="search.searchOptionsOperator"
          [(ngModel)]="search.whereOperator"
          *ngIf="search.searchOptionsOperator.length != 0"
        ></p-dropdown>

        <!--Input Search-->
        <div style="display: initial;" [ngSwitch]="search.whereBy">
          <!--Option True or False-->
          <p-dropdown
            *ngSwitchCase="'active'"
            [options]="search.searchOptionsBoolean"
            [autoDisplayFirst]="false"
            placeholder="Selecionar Opção"
            [(ngModel)]="search.whereTextSearch"
            (onChange)="getAllPartners()"
          ></p-dropdown>

          <!--Input-->
          <div class="ui-inputgroup" *ngSwitchDefault>
            <input pInputText type="search" accesskey="b" (search)="getAllPartners()" [(ngModel)]="search.whereTextSearch" placeholder="Pesquisar">
            <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="getAllPartners()"></button>
          </div>
        </div>

        <!--<button pButton type="button" icon="fas fa-cog" class="ui-button-secondary" pTooltip="Filtro de pesquisa" tooltipPosition="top" (click)="getAllPartners(between)"></button>-->
      </div>
    </div>
  </ng-template>

  <!-- Header Table -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em" pResizableColumn></th>

      <th style="width: 4em" [pSortableColumn]="columns[0].field" pResizableColumn>
        {{columns[0].header}}
        <p-sortIcon [field]="columns[0].field"></p-sortIcon>
      </th>

      <th style="width: 5em" [pSortableColumn]="columns[1].field" pResizableColumn>
        {{columns[1].header}}
        <p-sortIcon [field]="columns[1].field"></p-sortIcon>
      </th>

      <th style="width: 15em" [pSortableColumn]="columns[2].field" pResizableColumn>
        {{columns[2].header}}
        <p-sortIcon [field]="columns[2].field"></p-sortIcon>
      </th>

      <th style="width: 10em" [pSortableColumn]="columns[3].field" pResizableColumn>
        {{columns[3].header}}
        <p-sortIcon [field]="columns[3].field"></p-sortIcon>
      </th>

      <th style="width: 8em" [pSortableColumn]="columns[4].field" pResizableColumn>
        {{columns[4].header}}
        <p-sortIcon [field]="columns[4].field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!-- Body Table -->
  <ng-template pTemplate="body" let-dataPartners let-columns="columns">
    <tr
      [pSelectableRow]="dataPartners"
      (dblclick)="addPartnerSelected(dataPartners)"
      [class.row-red]="!dataPartners.active"
      [class.row-orange]="dataPartners.user_id && dataPartners.active"
    >
      <td>
        <span class="ui-column-title">Selecionar Parceiro</span>
        <button pButton type="button" class="ui-button-secondary m-0" icon="fas fa-plus" (click)="addPartnerSelected(dataPartners)"></button>
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[0].header}}</span>
        {{dataPartners.id}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[1].header}}</span>
        {{dataPartners.active ? 'Sim' : 'Não'}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[2].header}}</span>
        {{dataPartners.name_reason}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[3].header}}</span>
        {{dataPartners.cpf_cnpj}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[4].header}}</span>
        {{dataPartners.type_person}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr class="emptymessage">
      <td [attr.colspan]="columns.length + 1">
        Nenhum parceiro foi encontrado
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  [rows]="table.rowsOnPage"
  [totalRecords]="table.elementsPagination.total"
  [alwaysShow]="true"
  [pageLinkSize]="5"
  (onPageChange)="setPage($event)"
  [rowsPerPageOptions]="table.selectRowsOnPage">
</p-paginator>

<li class="row-red m-0 mt-2">Parceiro desativado.</li>
<li class="row-orange m-0">Parceiro vinculado a outro usuário.</li>
