<p-panel>
  <p-header>
    <h5>Listagem</h5>
    <button *ngIf="permissionsUserLogged?.NEW" pButton type="button" label="Novo Tipo" class="float-right" accesskey="n" icon="fas fa-plus" routerLink="cadastro" routerLinkActive="active"></button>
  </p-header>

  <p-table
    [columns]="table.cols"
    [value]="table.dataTypes"
    [rows]="table.rowsOnPage"
    [resizableColumns]="true"
    [responsive]="true"
    selectionMode="single"
    [(selection)]="selectedRowTable"
  >

    <ng-template pTemplate="caption">
      <div class="row p-0">
        <div class="col-md-12 col-12 text-right">
            <div class="ui-inputgroup">
              <input pInputText size="24" type="search" accesskey="b" (search)="searchManual()" [(ngModel)]="whereTextSearch" placeholder="Pesquisar">
              <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="searchManual()"></button>
            </div>
        </div>
      </div>
    </ng-template>

    <!-- Header Table -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 4em" [pSortableColumn]="columns[0].field" pResizableColumn>
          {{columns[0].header}}
          <p-sortIcon [field]="columns[0].field"></p-sortIcon>
        </th>

        <th style="width: 5em" [pSortableColumn]="columns[1].field" pResizableColumn>
          {{columns[1].header}}
          <p-sortIcon [field]="columns[1].field"></p-sortIcon>
        </th>

        <th style="width: 15em" [pSortableColumn]="columns[2].field" pResizableColumn>
          {{columns[2].header}}
          <p-sortIcon [field]="columns[2].field"></p-sortIcon>
        </th>

        <th [pSortableColumn]="columns[3].field" pResizableColumn>
          {{columns[3].header}}
          <p-sortIcon [field]="columns[3].field"></p-sortIcon>
        </th>

        <th style="width: 10em" [pSortableColumn]="columns[4].field" pResizableColumn>
          {{columns[4].header}}
          <p-sortIcon [field]="columns[4].field"></p-sortIcon>
        </th>

        <th style="width: 10em" [pSortableColumn]="columns[5].field" pResizableColumn>
          {{columns[5].header}}
          <p-sortIcon [field]="columns[5].field"></p-sortIcon>
        </th>

        <th style="width: 3em" pResizableColumn>
          <button pButton type="button" accesskey="r" class="ui-button-secondary" icon="fas fa-sync" pTooltip="Atualizar" tooltipPosition="top" (click)="getAllTypes()"></button>
        </th>
      </tr>
    </ng-template>

    <!-- Body Table -->
    <ng-template pTemplate="body" let-dataTypes let-columns="columns">
      <tr
        [pSelectableRow]="dataTypes"
        (dblclick)="goToViewDetails(dataTypes.id)"
        [class.row-red]="!!!dataTypes.active"
      >
        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[0].header}}</span>
          {{dataTypes.id}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[1].header}}</span>
          {{dataTypes.active ? 'Sim' : 'Não'}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[2].header}}</span>
          {{dataTypes.name}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[3].header}}</span>
          {{dataTypes.description}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[4].header}}</span>
          {{dataTypes.created_at | date: 'dd/MM/yyyy HH:mm'}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[5].header}}</span>
          {{dataTypes.updated_at | date: 'dd/MM/yyyy HH:mm'}}
        </td>

        <td>
          <span class="ui-column-title">Opções</span>
          <button pButton type="button" style="padding: 0;" class="ui-button-secondary" icon="fas fa-eye" pTooltip="Visualizar detalhes" tooltipPosition="left" [routerLink]="['cadastro/', dataTypes.id]"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr class="emptymessage">
        <td [attr.colspan]="columns.length + 1">
          Nenhum tipo de oferta foi encontrado
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      Total cadastrado: {{table.elementsPagination.total}}
    </ng-template>
  </p-table>

  <p-paginator
    [rows]="table.rowsOnPage"
    [totalRecords]="table.elementsPagination.total"
    [alwaysShow]="false"
    [pageLinkSize]="5"
    (onPageChange)="setPage($event)"
    [rowsPerPageOptions]="table.selectRowsOnPage">
  </p-paginator>

  <li class="row-red m-0 mt-2">Tipo de agenda de oferta desativado.</li>
</p-panel>
