<!-- Agenda -->
<p-panel [toggleable]="true">
  <p-header>
    <h6 *ngIf="data?.id">Agenda #{{ data?.id }}</h6>
    <h6 *ngIf="!data?.id">Agenda</h6>
  </p-header>

  <form novalidate [formGroup]="form">
    <div class="form-group row">
      <div class="col-3 col-sm-2">
        <label class="active" for="active">Ativo</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="active"></p-inputSwitch>
      </div>

      <div class="col-9 col-sm-7">
        <label class="active" for="offer_types_id">Tipo de Oferta *</label>
        <p-dropdown inputId="offer_types_id" class="text-left" formControlName="offer_types_id"
          [options]="types"
          [style]="{'width': '100%'}"
          dataKey="id"
          optionLabel="name"
          [autoDisplayFirst]="false"
          [showClear]="true"
          [required]="true"
          placeholder="Selecionar"
          emptyFilterMessage="Nenhum resultado encontrado">
        </p-dropdown>

        <div class="messages text-danger"
          *ngIf="form.get('offer_types_id').hasError('required') && (form.get('offer_types_id').touched || form.get('offer_types_id').dirty)">
          Campo obrigatório
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <label class="active" for="status">Status</label>
        <input type="text" pInputText id="status" readonly class="form-control" formControlName="status"/>
      </div>

      <div class="col-12">
        <label class="active" for="name">Nome *</label>
        <input type="text" autofocus pInputText id="name" class="form-control" formControlName="name"/>

        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('required') && (form.get('name').touched || form.get('name').dirty)">
          Campo obrigatório
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('minlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho mínimo permitido é {{form.get('name').errors.minlength.requiredLength}}
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('maxlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho máximo permitido é {{form.get('name').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label class="active" for="description">Observação</label>
        <textarea rows="2" cols="100" pInputTextarea autoResize="autoResize" class="form-control" id="description" formControlName="description"></textarea>

        <div class="messages text-danger"
          *ngIf="form.get('description').hasError('maxlength') && (form.get('description').touched || form.get('description').dirty)">
          O tamanho máximo permitido é {{form.get('description').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-6">
        <label class="active" for="datetime_start">Iníciar em *</label>
        <p-calendar
          (onSelect)="setTimeFromEnd($event)"
          (onInput)="setTimeFromEnd($event)"
          [locale]="calendar.language.pt_BR"
          [minDate]="calendar.datetime_start.minDate"
          [showIcon]="true"
          [showTime]="true"
          [monthNavigator]="true"
          [showButtonBar]="true"
          hourFormat="24"
          dateFormat="dd/mm/yy"
          formControlName="datetime_start"
          placeholder="Data e Hora"
        ></p-calendar>

        <div class="messages text-danger"
          *ngIf="form.get('datetime_start').hasError('required') && (form.get('datetime_start').touched || form.get('datetime_start').dirty)">
          Campo obrigatório
        </div>
      </div>

      <div class="col-sm-6">
        <label class="active" for="datetime_end">Finalizar em *</label>
        <p-calendar
          [locale]="calendar.language.pt_BR"
          [minDate]="calendar.datetime_end.minDate"
          [maxDate]="calendar.datetime_end.maxDate"
          [showIcon]="true"
          [showTime]="true"
          [monthNavigator]="true"
          [showButtonBar]="true"
          hourFormat="24"
          dateFormat="dd/mm/yy"
          formControlName="datetime_end"
          placeholder="Data e Hora"
        ></p-calendar>

        <div class="messages text-danger"
          *ngIf="form.get('datetime_end').hasError('required') && (form.get('datetime_end').touched || form.get('datetime_end').dirty)">
          Campo obrigatório
        </div>
      </div>
    </div>

    <div class="row" *ngIf="data?.id">
      <div class="col-sm-6 fs-08 text-center">Cadastrado por {{ data.created_name_reason | pickUpCertainWords:2 }} dia {{ data.created_at | date: 'dd/MM/yyyy HH:mm' }}</div>
      <div class="col-sm-6 fs-08 text-center" *ngIf="data.updated">Atualizado por {{ data.updated_name_reason | pickUpCertainWords:2 }} dia {{ data.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
    </div>
  </form>

  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" pTooltip="Listagem de Agendas" tooltipPosition="right" (click)="goBack(true)" *ngIf="!buttonCancel.visible"></button>
      <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
    </div>

    <div class="ui-toolbar-group-right">
      <button pButton type="button" accesskey="e" label="Editar" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && status !== 'FINALIZADA' && permissionsUserLogged?.EDIT"></button>
      <button pButton type="button" accesskey="g" label="Gravar" class="ui-button-success" (click)="saveScheduleOffer()" icon="fas fa-check" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && status !== 'FINALIZADA' && (permissionsUserLogged?.NEW || permissionsUserLogged?.EDIT)"></button>
    </div>
  </p-toolbar>
</p-panel>

<!-- Produtos -->
<app-list-products-in-offer *ngIf="viewProducts" [offer]="data"></app-list-products-in-offer>
