// https://angular.io/guide/component-styles
:host {
  p-footer {
    text-align: center;
  }

  .fs-08 {
    font-size: 0.8em;
  }

  @media only screen and (max-width: 468px) {
    p-footer {
      .ui-button {
        width: 100%;
      }
    }
  }
}

p-header {
  display: inline-block;
}
