<p-panel>
  <p-header>
    <h5>Listagem</h5>
    <button *ngIf="permissionsUserLogged?.NEW" pButton type="button" label="Novo Parceiro" class="float-right" accesskey="a" icon="fas fa-plus" routerLink="cadastro" routerLinkActive="active"></button>
  </p-header>

  <p-table
    [columns]="table.cols"
    [value]="table.data"
    [rows]="table.rowsOnPage"
    [resizableColumns]="true"
    [responsive]="true"
    selectionMode="single"
    [(selection)]="table.selectedRowTable"
  >
    <ng-template pTemplate="caption">
      <div class="row p-0">
        <div class="col-md-12 text-right">
          <!--Options-->
          <p-dropdown
            class="text-left"
            [options]="search.searchOptions"
            [filter]="true" filterBy="label"
            [showClear]="false"
            emptyFilterMessage="Nenhum resultado encontrado"
            (onChange)="selectTheOperators($event.value)"
            [(ngModel)]="search.whereBy"
          ></p-dropdown>

          <!--Operators-->
          <p-dropdown
            class="text-left"
            [options]="search.searchOptionsOperator"
            [(ngModel)]="search.whereOperator"
            *ngIf="search.searchOptionsOperator.length != 0"
          ></p-dropdown>

          <!--Input Search-->
          <div style="display: initial;" [ngSwitch]="search.whereBy">
            <!--Option True or False-->
            <p-dropdown
              class="text-left"
              *ngSwitchCase="'active'"
              [options]="search.searchOptionsBoolean"
              [autoDisplayFirst]="false"
              placeholder="Selecionar Opção"
              [(ngModel)]="search.whereTextSearch"
              (onChange)="getAllPartners()"
            ></p-dropdown>

            <!--Input-->
            <div class="ui-inputgroup" *ngSwitchDefault>
              <input pInputText type="search" accesskey="b" (search)="getAllPartners()" [(ngModel)]="search.whereTextSearch" placeholder="Pesquisar">
              <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="getAllPartners()"></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Header Table -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngStyle]="{'width': col?.width}" [pSortableColumn]="col.field" pResizableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

        <th class="action" pResizableColumn>
          <button pButton type="button" accesskey="r" class="ui-button-secondary" pTooltip="Atualizar" tooltipPosition="top" icon="fas fa-sync" (click)="getAllPartners()"></button>
        </th>
      </tr>
    </ng-template>

    <!-- Body Table-->
    <ng-template pTemplate="body" let-data let-columns="columns">
      <tr
        [pSelectableRow]="data"
        (dblclick)="goToViewDetails(data.id)"
        [class.row-red]="!!!data.active"
      >
        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[0].header}}</span>
          {{data.id}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[1].header}}</span>
          {{data.active ? 'Sim' : 'Não'}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[2].header}}</span>
          {{data.name_reason}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[3].header}}</span>
          {{data.cpf_cnpj}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[4].header}}</span>
          {{data.rg_ie}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[5].header}}</span>
          {{data.type_person}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[6].header}}</span>
          {{data.sex}}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[7].header}}</span>
          {{data.created_at | date: 'dd/MM/yyyy HH:mm' }}
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">{{columns[8].header}}</span>
          {{data.updated_at | date: 'dd/MM/yyyy HH:mm' }}
        </td>

        <td>
          <span class="ui-column-title">Opções</span>
          <button pButton type="button" class="ui-button-secondary" icon="fas fa-eye" pTooltip="Visualizar detalhes" tooltipPosition="left" [routerLink]="['cadastro', data.id]"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr class="emptymessage">
        <td [attr.colspan]="columns.length + 1">
          Nenhum parceiro foi encontrado
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      Total parceiros encontrados: {{table.elementsPagination.total}}
    </ng-template>
  </p-table>

  <p-paginator
    [rows]="table.rowsOnPage"
    [totalRecords]="table.elementsPagination.total"
    [alwaysShow]="false"
    [pageLinkSize]="5"
    (onPageChange)="setPage($event)"
    [rowsPerPageOptions]="table.selectRowsOnPage">
  </p-paginator>

  <li class="row-red m-0 mt-2">Parceiro desativado.</li>
</p-panel>
