<div *ngIf="enabled">
  <!--DragDrop-->
  <label
    ng2FileDrop
    (fileOver)="fileOverAnother($event)"
    [uploader]="uploader"
    class="fileuploader-input"
    [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
  >
    <div class="fileuploader-input-inner">
      <div class="fileuploader-main-icon"><i class="fas fa-cloud-upload-alt"></i></div>
      <h3 class="fileuploader-input-caption">Arraste e solte as imagens aqui</h3>
      <p>ou se preferir</p>
      <div class="fileuploader-input-button">Procurar Imagens</div>
      <p class="fileuploader-input-total">Total imagens carregadas: {{ uploader?.queue?.length }}</p>

      <input style="display: none;" type="file" ng2FileSelect [uploader]="uploader" [accept]="allowedMimeType.toString()" multiple>
    </div>
  </label>

  <!--Table-->
  <p-table [value]="uploader.queue" [resizableColumns]="true" [responsive]="true" [style]="{'margin-top':'10px'}" *ngIf="uploader?.queue?.length !== 0">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5em" pResizableColumn>Imagem</th>
        <th style="width: 20em" pResizableColumn>Nome</th>
        <th style="width: 6em" pResizableColumn>Tamanho</th>
        <th pResizableColumn>Progresso</th>
        <th style="width: 6em" pResizableColumn>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="ui-resizable-column">
          <span class="ui-column-title">Imagem</span>
          <button type="text" pButton icon="fas fa-image" class="ui-button-secondary" (click)="selectOverlayImageTableUpload(item); op1.toggle($event)"></button>
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">Nome</span>
          <strong>{{ item?.file?.name }}</strong>
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">Tamanho</span>
          {{ item?.file?.size/1024 | number:'.2' }} kb
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">Progresso</span>
          <p-progressBar [value]="item.progress"></p-progressBar>
        </td>

        <td class="ui-resizable-column">
          <span class="ui-column-title">Ações</span>
          <button pButton type="button"
            class="ui-button-success"
            icon="fas fa-upload"
            pTooltip="Enviar Imagem" tooltipPosition="top"
            (click)="item.upload()"
            [disabled]="item.isReady || item.isUploading || item.isSuccess"
          ></button>

          <button pButton type="button"
            class="ui-button-danger"
            icon="fas fa-trash"
            pTooltip="Excluir Imagem" tooltipPosition="top"
            (click)="deleteImage(item)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-overlayPanel #op1 appendTo="body" [showCloseIcon]="true">
  <img src="" thumbnail [image]="itemOverlayImage?._file" [maxSize]="200"/>
</p-overlayPanel>
