.fileuploader-input {
  display: block;
  padding: 26px 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  border-radius: 6px;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  .fileuploader-input-inner {
    transition: all 0.2s ease;
  }

  .fileuploader-main-icon {
    color: #1f89ce;
    display: block;
    font-size: 56px;
    margin: 0 auto;
    margin-bottom: 6px;
    transition: all 0.2s ease;
  }

  .fileuploader-input-caption {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #1f89ce;
    white-space: normal;
  }

  .fileuploader-input-button {
    padding: 12px 18px;
    background: linear-gradient(135deg, #1f89ce 0, #2398e4 100%);
    background-size: 140% auto;
    background-position: center;
    color: #fff;
    display: inline-block;
    margin: 0;
    border: none;
    border-radius: 6px;
    outline: 0;
    font-weight: 700;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
  }

  .fileuploader-input-button:hover {
    opacity: 0.8;
    transition:all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .fileuploader-input-total {
    text-align: center;
    margin: 0;
    padding-top: 4px;
    font-size: 0.65em;
    font-weight: bold;
  }
}

.another-file-over-class {
  border: 2px dashed #1f89ce !important;
  opacity: 0.7 !important;
  transition:all 0.3s ease;
}
