label.btn.btn-default {
  background-color: #f5f5f5;
  border: 1px solid #7b7a7a;
}

label.btn.btn-default:hover {
  background-color: #e6e6e6;
  border: 1px solid #7b7a7a;
}

li {
  list-style-type: square;
  line-height: 1rem;
}
