<!--Fom Partner-->
<p-panel>
  <p-header>
    <h6 *ngIf="dataPartner?.id">Parceiro #{{ dataPartner?.id }}</h6>
    <h6 *ngIf="!dataPartner?.id">Parceiro</h6>
  </p-header>

  <form novalidate (ngSubmit)="save();" [formGroup]="form_partner">
    <div class="form-group row">
      <div class="col-12 col-sm-2">
        <label class="active" for="active">Ativo</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="active"></p-inputSwitch>
      </div>

      <div class="col-12 col-sm-10">
        <label class="active" for="typePartner">Tipo Parceiro *</label>
        <p-autoComplete
          [style]="{'width': '100%'}"
          formControlName="types_partner"
          inputId="types_partner"
          [suggestions]="typesPartnerFiltered"
          field="name"
          [dropdown]="true"
          [forceSelection]="true"
          [multiple]="true"
          (completeMethod)="filterTypesPartner($event)"
        ></p-autoComplete>

        <div class="messages text-danger" *ngIf="form_partner.get('types_partner').hasError('required') && (form_partner.get('types_partner').touched || form_partner.get('types_partner').dirty)">
          Campo obrigatório
        </div>
      </div>

      <div class="col-12 col-sm-12">
        <label class="active" for="type_person">Tipo Pessoa *</label>
        <p-dropdown
          inputId="type_person"
          formControlName="type_person"
          [options]="typesPerson"
          [style]="{'width': '100%'}"
          dataKey="key"
          optionLabel="label"
          [autoDisplayFirst]="false"
          (onChange)="typePersonSelect()"
        ></p-dropdown>

        <div class="messages text-danger" *ngIf="form_partner.get('type_person').hasError('required') && (form_partner.get('type_person').touched || form_partner.get('type_person').dirty)">
          Campo obrigatório
        </div>
      </div>
    </div>

    <div class="form-group row">
      <!-- Pessoa Física-->
      <div *ngIf="typePersonFisic" class="row mr-0 ml-0 w-100">
        <div class="col-12 col-sm-8 col-md-6">
          <label class="active" for="name_reason">Nome Completo *</label>
          <input type="text" pInputText id="name_reason" class="form-control" formControlName="name_reason" />

          <div class="messages text-danger" *ngIf="form_partner.get('name_reason').hasError('required') && (form_partner.get('name_reason').touched || form_partner.get('name_reason').dirty)">
            Campo obrigatório
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('name_reason').hasError('minlength') && (form_partner.get('name_reason').touched || form_partner.get('name_reason').dirty)">
            O tamanho mínimo permitido é {{form_partner.get('name_reason').errors.minlength.requiredLength}}
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('name_reason').hasError('maxlength') && (form_partner.get('name_reason').touched || form_partner.get('name_reason').dirty)">
            O tamanho máximo permitido é {{form_partner.get('name_reason').errors.maxlength.requiredLength}}
          </div>
        </div>


        <div class="col-4 col-sm-4 col-md-2">
          <label class="active" for="sex">Sexo *</label>
          <p-dropdown
            inputId="sex"
            formControlName="sex"
            [options]="sex"
            [style]="{'width': '100%'}"
            dataKey="key"
            optionLabel="label"
            [autoDisplayFirst]="false"
          ></p-dropdown>

          <div class="messages text-danger" *ngIf="form_partner.get('sex').hasError('required') && (form_partner.get('sex').touched || form_partner.get('sex').dirty)">
            Campo obrigatório
          </div>
        </div>

        <div class="col-6 col-sm-6 col-md-4">
          <label class="active" for="cpf_cnpj">CPF *</label>
          <input type="text" pInputText id="cpf_cnpj" class="form-control" [textMask]="{mask: maskCpf, guide: false}" (blur)="validCpfCnpj('cpf')" formControlName="cpf_cnpj" />

          <div class="messages text-danger" *ngIf="form_partner.get('cpf_cnpj').hasError('required') && (form_partner.get('cpf_cnpj').touched || form_partner.get('cpf_cnpj').dirty)">
            Campo obrigatório
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('cpf_cnpj').hasError('minlength') && (form_partner.get('cpf_cnpj').touched || form_partner.get('cpf_cnpj').dirty)">
            O tamanho mínimo permitido é {{form_partner.get('cpf_cnpj').errors.minlength.requiredLength}}
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('cpf_cnpj').hasError('maxlength') && (form_partner.get('cpf_cnpj').touched || form_partner.get('cpf_cnpj').dirty)">
            O tamanho máximo permitido é {{form_partner.get('cpf_cnpj').errors.maxlength.requiredLength}}
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('cpf_cnpj').hasError('cpfCnpjValido')">
            O {{typePersonFisic ? 'CPF' : 'CNPJ'}} informado é inválido.
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6">
          <label class="active" for="rg_issuing_body">Órgão Emissor do RG *</label>
          <p-dropdown
            inputId="rg_issuing_body"
            formControlName="rg_issuing_body"
            [options]="rgIssuingBody"
            [style]="{'width': '100%'}"
            dataKey="key"
            optionLabel="label"
            [autoDisplayFirst]="false"
            [filter]="true"
            filterBy="label"
            emptyFilterMessage="Nenhum resultado encontrado"
          ></p-dropdown>

          <div class="messages text-danger" *ngIf="form_partner.get('rg_issuing_body').hasError('required') && (form_partner.get('rg_issuing_body').touched || form_partner.get('rg_issuing_body').dirty)">
            Campo obrigatório
          </div>
        </div>

        <div class="col-4 col-sm-4 col-md-2">
          <label class="active" for="rg_issuing_body">UF do RG *</label>
          <p-dropdown
            inputId="rg_uf"
            formControlName="rg_uf"
            [options]="rgUf"
            [style]="{'width': '100%'}"
            dataKey="key"
            optionLabel="label"
            [autoDisplayFirst]="false"
            [filter]="true"
            filterBy="label"
            emptyFilterMessage="Nenhum resultado encontrado"
          ></p-dropdown>
        </div>

        <div class="col-8 col-sm-8 col-md-4">
          <label class="active" for="rg_ie">Número do RG *</label>
          <input type="text" pInputText id="rg_ie" class="form-control" formControlName="rg_ie" />

          <div class="messages text-danger" *ngIf="form_partner.get('rg_ie').hasError('required') && (form_partner.get('rg_ie').touched || form_partner.get('rg_ie').dirty)">
            Campo obrigatório
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('rg_ie').hasError('minlength') && (form_partner.get('rg_ie').touched || form_partner.get('rg_ie').dirty)">
            O tamanho mínimo permitido é {{form_partner.get('rg_ie').errors.minlength.requiredLength}}
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('rg_ie').hasError('maxlength') && (form_partner.get('rg_ie').touched || form_partner.get('rg_ie').dirty)">
            O tamanho máximo permitido é {{form_partner.get('rg_ie').errors.maxlength.requiredLength}}
          </div>
        </div>
      </div>

      <!-- Pessoa Jurídica-->
      <div *ngIf="!typePersonFisic" class="grid row mr-0 ml-0 w-100">
        <div class="col-12 col-sm-6">
          <label class="active" for="name_reason">Razão Social *</label>
          <input type="text" pInputText id="name_reason" class="form-control" formControlName="name_reason" />

          <div class="messages text-danger" *ngIf="form_partner.get('name_reason').hasError('required') && (form_partner.get('name_reason').touched || form_partner.get('name_reason').dirty)">
            Campo obrigatório
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('name_reason').hasError('minlength') && (form_partner.get('name_reason').touched || form_partner.get('name_reason').dirty)">
            O tamanho mínimo permitido é {{form_partner.get('name_reason').errors.minlength.requiredLength}}
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('name_reason').hasError('maxlength') && (form_partner.get('name_reason').touched || form_partner.get('name_reason').dirty)">
            O tamanho máximo permitido é {{form_partner.get('name_reason').errors.maxlength.requiredLength}}
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <label class="active" for="name_fantasy">Nome Fantasia *</label>
          <input type="text" pInputText id="name_fantasy" class="form-control" formControlName="name_fantasy"/>

          <div class="messages text-danger" *ngIf="form_partner.get('name_fantasy').hasError('required') && (form_partner.get('name_fantasy').touched || form_partner.get('name_fantasy').dirty)">
            Campo obrigatório
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <label class="active" for="cpf_cnpj">CNPJ *</label>
          <input type="text" pInputText id="cpf_cnpj" class="form-control" [textMask]="{mask: maskCnpj, guide: false}" (blur)="validCpfCnpj('cnpj')" formControlName="cpf_cnpj" />

          <div class="messages text-danger" *ngIf="form_partner.get('cpf_cnpj').hasError('required') && (form_partner.get('cpf_cnpj').touched || form_partner.get('cpf_cnpj').dirty)">
            Campo obrigatório
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('cpf_cnpj').hasError('minlength') && (form_partner.get('cpf_cnpj').touched || form_partner.get('cpf_cnpj').dirty)">
            O tamanho mínimo permitido é {{form_partner.get('cpf_cnpj').errors.minlength.requiredLength}}
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('cpf_cnpj').hasError('maxlength') && (form_partner.get('cpf_cnpj').touched || form_partner.get('cpf_cnpj').dirty)">
            O tamanho máximo permitido é {{form_partner.get('cpf_cnpj').errors.maxlength.requiredLength}}
          </div>
          <div class="messages text-danger" *ngIf="form_partner.get('cpf_cnpj').hasError('cpfCnpjValido')">
            O {{typePersonFisic ? 'CPF' : 'CNPJ'}} informado é inválido.
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <label class="active" for="rg_ie">Inscrição Estadual (IE)</label>
          <input type="number" pInputText id="rg_ie" class="form-control" formControlName="rg_ie" />
        </div>

        <div class="messages text-danger" *ngIf="form_partner.get('rg_ie').hasError('minlength') && (form_partner.get('rg_ie').touched || form_partner.get('rg_ie').dirty)">
          O tamanho mínimo permitido é {{form_partner.get('rg_ie').errors.minlength.requiredLength}}
        </div>
        <div class="messages text-danger" *ngIf="form_partner.get('rg_ie').hasError('maxlength') && (form_partner.get('rg_ie').touched || form_partner.get('rg_ie').dirty)">
          O tamanho máximo permitido é {{form_partner.get('rg_ie').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>
  </form>

  <div class="row createAtUpdateAt" *ngIf="dataPartner?.id">
    <p class="col-sm-6 fs-08 m-0">Cadastrado por {{ dataPartner?.added?.partner?.name_reason | pickUpCertainWords:2 }} dia {{ dataPartner.created_at | date: 'dd/MM/yyyy HH:mm' }}</p>
    <p class="col-sm-6 fs-08 m-0" *ngIf="dataPartner?.updated_at">Atualizado por {{ dataPartner?.updated?.partner?.name_reason | pickUpCertainWords:2 }} dia {{ dataPartner.updated_at | date: 'dd/MM/yyyy HH:mm' }}</p>
  </div>
</p-panel>

<!--Panel Adresses-->
<p-panel header="Endereços" [toggleable]="true" [collapsed]="false">
  <app-address [enableForm]="form_partner.enabled" [data]="dependences.adresses.data_new"></app-address>
</p-panel>

<!--Panel Phones-->
<p-panel header="Telefones" [toggleable]="true" [collapsed]="true">
  <app-phone [enableForm]="form_partner.enabled" [data]="dependences.phones.data_new"></app-phone>
</p-panel>

<!--Panel Email-->
<p-panel header="E-mails" [toggleable]="true" [collapsed]="true">
  <app-email [enableForm]="form_partner.enabled" [data]="this.dependences.emails.data_new"></app-email>
</p-panel>

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" pTooltip="Listagem de Parceiros" tooltipPosition="right" (click)="goBack(true)" *ngIf="!buttonCancel.visible"></button>
    <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" accesskey="e" label="Editar" class="ui-button-primary" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && permissionsUserLogged?.EDIT"></button>
    <button pButton type="submit" accesskey="g" label="Gravar" class="ui-button-success" icon="fas fa-check" (click)="save()" [disabled]="buttonSave.disabled || form_partner.invalid" *ngIf="buttonSave.visible && (permissionsUserLogged?.NEW || permissionsUserLogged?.EDIT)"></button>
  </div>
</p-toolbar>
