<div class="pcoded" nav-type="st2" theme-layout="vertical" layout-type="light" vertical-placement="left" vertical-layout="wide"
     [attr.pcoded-device-type]="deviceType"
     [attr.vertical-nav-type]="verticalNavType"
     [attr.vertical-effect]="verticalEffect"
     vnavigation-view="view1"
     (window:resize)="onResize($event)">

  <div class="pcoded-container navbar-wrapper">
    <!-- Nav Header -->
    <nav class="navbar header-navbar pcoded-header" pcoded-header-position="fixed" header-theme="theme-blue">
      <div class="navbar-wrapper">

        <!-- Logo Header -->
        <div class="navbar-logo" logo-theme="theme-blue">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="fas fa-bars"></i>
          </a>

          <a [routerLink]="['/']">
            <img class="img-fluid" src="assets/images/logo.png" alt="Super Ideal"/>
          </a>

          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="fas fa-chevron-down"></i>
          </a>
        </div>

        <!-- NavBar -->
        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <!-- Toogle Menu -->
              <li>
                <div class="sidebar_toggle">
                  <a href="javascript:;" (click)="toggleOpened()">
                    <i class="fas fa-bars f-18"></i>
                  </a>
                </div>
              </li>

              <!-- FullScreen -->
              <li>
                <a href="javascript:;" appToggleFullscreen>
                  <i class="fas fa-arrows-alt"></i>
                </a>
              </li>
            </ul>

            <ul class="nav-right" [@mobileMenuTop]="isCollapsedMobile" [ngClass]="isCollapsedMobile">
              <!-- User Profile -->
              <li class="user-profile header-notification">
                <a [routerLink]="['/']">
                  <img src="assets/images/avatar.png" class="img-radius" alt="User-Profile-Image">
                  <span>{{userData?.name_reason | pickUpCertainWords}}</span>
                  <i class="fas fa-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li [swal]="exitSwal">
                    <a href="javascript:;"><i class="fas fa-sign-out-alt"></i> Sair do Sistema</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </nav>

    <!-- Container (Sidebar + Content) -->
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">

        <!-- Sidebar Menu Left -->
        <nav id="main_navbar" class="pcoded-navbar" (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'" navbar-theme="themelight1" active-item-theme="theme4" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="fixed">
          <div class="sidebar_toggle">
            <a href="javascript:;">
              <i class="icon-close icons"></i>
            </a>
          </div>

          <div class="pcoded-inner-navbar main-menu" appAccordion>
            <div class="menu">
              <p-panelMenu [multiple]="false" [model]="itemsMenu" class="w-100"></p-panelMenu>
            </div>
          </div>
        </nav>

        <!-- Content -->
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <app-title></app-title>
                <app-breadcrumbs></app-breadcrumbs>

                <div class="page-body">
                  <router-outlet>
                    <app-spinner></app-spinner>
                  </router-outlet>
                </div>
              </div>
            </div>

            <app-footer></app-footer>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<swal
  #exitSwal
  title="Sair do Sistema"
  text="Você deseja relmente sair do sistema?"
  type="warning"
  cancelButtonText="Não"
  confirmButtonText="Sim"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="onLogout()">
</swal>
