<form novalidate [formGroup]="form_emails" class="mb-2">
  <div class="form-group row">
    <div class="col-12 col-sm-12">
      <label class="active" for="type">Tipo *</label>
      <p-autoComplete
        [style]="{'width': '100%'}"
        formControlName="type"
        inputId="type"
        [suggestions]="table.emails.filteredType"
        (completeMethod)="filterTypeEmails($event)"
        [dropdown]="true"
      ></p-autoComplete>

      <div class="messages text-danger" *ngIf="form_emails.get('type').hasError('required') && (form_emails.get('type').touched || form_emails.get('type').dirty)">
        Campo obrigatório
      </div>
    </div>

    <div class="col-12 col-sm-12">
      <label class="active" for="email">Endereço de E-mail *</label>
      <input type="text" pInputText id="email" class="form-control" formControlName="email"/>

      <div class="messages text-danger" *ngIf="form_emails.get('email').hasError('required') && (form_emails.get('email').touched || form_emails.get('email').dirty)">
        Campo obrigatório
      </div>
      <div class="messages text-danger" *ngIf="form_emails.get('email').hasError('pattern') && (form_emails.get('email').touched || form_emails.get('email').dirty)">
        O e-mail informado não é válido.
      </div>
    </div>

    <div class="col-12 col-sm-12">
      <label class="active" for="description">Observação</label>
      <input type="text" pInputText id="description" class="form-control" formControlName="description"/>
    </div>
  </div>

  <!--Buttons-->
  <p-toolbar *ngIf="form_partner_enabled">
    <div class="ui-toolbar-group-right">
      <button pButton type="button" label="Novo" class="ui-button-secondary float-right"  style="float: right;" icon="fas fa-check" (click)="form_emails.reset(); enableFormEmails(true);" [disabled]="table.emails.buttons.buttonNew.disabled" *ngIf="table.emails.buttons.buttonNew.visible && permissionsUserLogged?.NEW"></button>
      <button pButton type="submit" label="Gravar" class="ui-button-secondary float-right" icon="fas fa-check" (click)="addOrUpdateEmail()" [disabled]="table.emails.buttons.buttonSave.disabled || form_emails.invalid" *ngIf="table.emails.buttons.buttonSave.visible && (permissionsUserLogged?.NEW || permissionsUserLogged?.EDIT)"></button>
      <button pButton type="button" label="Editar" class="ui-button-secondary float-right" icon="fas fa-pencil-alt" (click)="enableFormEmails()" [disabled]="table.emails.buttons.buttonDelete.disabled" *ngIf="table.emails.buttons.buttonEdit.visible && permissionsUserLogged?.EDIT"></button>
      <button pButton type="button" label="Excluir" class="ui-button-secondary float-right" icon="fas fa-trash" (click)="removeEmail()" [disabled]="table.emails.buttons.buttonDelete.disabled" *ngIf="table.emails.buttons.buttonDelete.visible && permissionsUserLogged?.DELETE"></button>
      <button pButton type="button" label="Cancelar" class="ui-button-secondary float-right" icon="fas fa-ban" (click)="disableFormEmails()" *ngIf="table.emails.buttons.buttonCancel.visible"></button>
    </div>
  </p-toolbar>
</form>

<p-messages *ngIf="!!!table.emails.data.length" [(value)]="table.emails.messageNotFound" [closable]="false"></p-messages>
<p-table #dtEmail *ngIf="!!table.emails.data.length"
  [columns]="table.emails.cols"
  [value]="table.emails.data"
  [resizableColumns]="true"
  [responsive]="true"
  [paginator]="true" [rows]="5"
  selectionMode="single"
  [(selection)]="selectedRowTableEmails"
>
  <!-- Header Table -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col?.width}" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!-- Body Table-->
  <ng-template pTemplate="body" let-data let-columns="columns">
    <tr [pSelectableRow]="data" [pSelectableRowDisabled]="table.emails.disableRow">
      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[0].header}}</span>
        {{data?.id}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[1].header}}</span>
        {{data.type}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[2].header}}</span>
        {{data.email}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[3].header}}</span>
        {{data?.description}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[4].header}}</span>
        {{data.created_at | date: 'dd/MM/yyyy HH:mm' }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    Total de e-mails: {{dtEmail.totalRecords}}
  </ng-template>
</p-table>
