<!--Footer-->
<footer>
  <!--Copyright-->
  <p>
    {{ year }} &copy; Supermercado Ideal.
    Sistema desenvolvido por <a href="https://fb.com/duducp" target="_blank">Carlos Eduardo</a>.
  </p>
  <p class="m-0">Versão do sistema: {{ version }}</p>
</footer>
