<p-table
  [columns]="table.cols"
  [value]="table.data"
  [rows]="table.rowsOnPage"
  [resizableColumns]="true"
  [responsive]="true"
  selectionMode="single"
  [(selection)]="selectedRowTable"
>
  <ng-template pTemplate="caption">
    <div class="row p-0">
      <div class="col-md-12 text-left">
        <!--Options-->
        <p-dropdown
          [options]="search.searchOptions"
          [filter]="true" filterBy="label"
          [showClear]="false"
          emptyFilterMessage="Nenhum resultado encontrado"
          (onChange)="selectTheOperators($event.value)"
          [(ngModel)]="search.whereBy"
        ></p-dropdown>

        <!--Operators-->
        <p-dropdown
          [options]="search.searchOptionsOperator"
          [(ngModel)]="search.whereOperator"
          *ngIf="search.searchOptionsOperator.length != 0"
        ></p-dropdown>

        <!--Input Search-->
        <div style="display: initial;" [ngSwitch]="search.whereBy">
          <!--Option True or False-->
          <p-dropdown
            *ngSwitchCase="'active'"
            [options]="search.searchOptionsBoolean"
            [autoDisplayFirst]="false"
            placeholder="Selecionar Opção"
            [(ngModel)]="search.whereTextSearch"
            (onChange)="getAllUsers()"
          ></p-dropdown>

          <!--Input-->
          <div class="ui-inputgroup" *ngSwitchDefault>
            <input pInputText type="search" accesskey="b" (search)="getAllUsers()" [(ngModel)]="search.whereTextSearch" placeholder="Pesquisar">
            <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="getAllUsers()"></button>
          </div>
        </div>

        <!--<button pButton type="button" icon="fas fa-cog" class="ui-button-secondary" pTooltip="Filtro de pesquisa" tooltipPosition="top" (click)="getAllUsers(between)"></button>-->
      </div>
    </div>
  </ng-template>

  <!-- Header Table -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em" pResizableColumn></th>

      <th style="width: 4em" [pSortableColumn]="columns[0].field" pResizableColumn>
        {{columns[0].header}}
        <p-sortIcon [field]="columns[0].field"></p-sortIcon>
      </th>

      <th style="width: 4.5em" [pSortableColumn]="columns[1].field" pResizableColumn>
        {{columns[1].header}}
        <p-sortIcon [field]="columns[1].field"></p-sortIcon>
      </th>

      <th style="width: 10em" [pSortableColumn]="columns[2].field" pResizableColumn>
        {{columns[2].header}}
        <p-sortIcon [field]="columns[2].field"></p-sortIcon>
      </th>

      <th style="width: 7em" [pSortableColumn]="columns[3].field" pResizableColumn>
        {{columns[3].header}}
        <p-sortIcon [field]="columns[3].field"></p-sortIcon>
      </th>

      <th style="width: 15em" [pSortableColumn]="columns[4].field" pResizableColumn>
        {{columns[4].header}}
        <p-sortIcon [field]="columns[4].field"></p-sortIcon>
      </th>

      <th style="width: 10em" [pSortableColumn]="columns[5].field" pResizableColumn>
        {{columns[5].header}}
        <p-sortIcon [field]="columns[5].field"></p-sortIcon>
      </th>

      <th style="width: 8em" [pSortableColumn]="columns[6].field" pResizableColumn>
        {{columns[6].header}}
        <p-sortIcon [field]="columns[6].field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!-- Body Table -->
  <ng-template pTemplate="body" let-data let-columns="columns">
    <tr
      [pSelectableRow]="data"
      (dblclick)="addUserSelected(data)"
      [class.row-red]="!data.active"
    >
      <td>
        <span class="ui-column-title">Selecionar usuário</span>
        <button pButton type="button" class="ui-button-secondary m-0" icon="fas fa-plus" (click)="addUserSelected(data)"></button>
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[0].header}}</span>
        {{data.id}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[1].header}}</span>
        {{data.active ? 'Sim' : 'Não'}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[2].header}}</span>
        {{data.username}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[3].header}}</span>
        {{data.status}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[4].header}}</span>
        {{data.name_reason}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[5].header}}</span>
        {{data.cpf_cnpj}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[6].header}}</span>
        {{data.type_person}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr class="emptymessage">
      <td [attr.colspan]="columns.length + 1">
        Nenhum usuário foi encontrado
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  [rows]="table.rowsOnPage"
  [totalRecords]="table.elementsPagination.total"
  [alwaysShow]="true"
  [pageLinkSize]="5"
  (onPageChange)="setPage($event)"
  [rowsPerPageOptions]="table.selectRowsOnPage">
</p-paginator>

<li class="row-red m-0 mt-2">Usuário desativado.</li>
