<div class="container">
  <div class="box login" #toAnimate>
    <p-card>
      <p-header>
        <h4 class="text-center txt-primary">Acesso ao Sistema</h4>
      </p-header>

      <div class="text-center wow bounceIn" data-wow-delay="0.5s">
        <img class="m-4" src="assets/images/auth/logo-dark.png" alt="Super Ideal">
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(toAnimate)">
        <p-messages [(value)]="msgs"></p-messages>

        <div class="form-group">
          <input type="email" pInputText accesskey="e" formControlName="email" placeholder="Informe seu e-mail" autofocus class="form-control"/>

          <div *ngIf="loginForm.get('email').errors && (loginForm.get('email').touched || loginForm.get('email').dirty)">
            <p-message *ngIf="loginForm.get('email').hasError('required')" severity="error" text="Campo obrigatório"></p-message>
            <p-message *ngIf="loginForm.get('email').hasError('pattern')" severity="error" text="E-mail inválido"></p-message>
          </div>
        </div>

        <div class="form-group">
          <input type="password" pInputText accesskey="s" formControlName="password" placeholder="Informe sua senha" class="form-control"/>

          <div *ngIf="loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty)">
            <p-message *ngIf="loginForm.get('password').hasError('required')" severity="error" text="Campo obrigatório"></p-message>
            <p-message *ngIf="loginForm.get('password').hasError('minlength')" severity="error" text="Senha muito pequena"></p-message>
          </div>
        </div>

        <button pButton type="submit" accesskey="a" class="text-center w-100" label="Acessar" [disabled]="!loginForm.valid"></button>
      </form>
    </p-card>
  </div>
</div>
