.container {
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  min-width: 330px;
  min-height: 200px;
  background: transparent;
}
