<p-panel>
  <p-header>
    <h6>Tipo de Agenda</h6>
  </p-header>

  <form novalidate (ngSubmit)="save()" [formGroup]="form">
    <div class="form-group row">
      <div class="col-3 col-sm-2">
        <label class="active" for="active">Ativo</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="active"></p-inputSwitch>
      </div>

      <div class="col-9 col-sm-10">
        <label class="active" for="name">Nome *</label>
        <input type="text" autofocus pInputText accesskey="o" id="name" class="form-control" formControlName="name"/>

        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('required') && (form.get('name').touched || form.get('name').dirty)">
          Campo obrigatório
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('minlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho mínimo permitido é {{form.get('name').errors.minlength.requiredLength}}
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('maxlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho máximo permitido é {{form.get('name').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label class="active" for="description">Descrição</label>
        <textarea rows="2" cols="100" pInputTextarea autoResize="autoResize" id="description" class="form-control" formControlName="description"></textarea>

        <div class="messages text-danger"
          *ngIf="form.get('description').hasError('maxlength') && (form.get('description').touched || form.get('description').dirty)">
          O tamanho máximo permitido é {{form.get('description').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>

    <hr>
    <h4 class="mb-0">Opções *</h4>
    <p class="m-0 mb-2">Selecione abaixo as opções que deseja tornar disponíveis no cadastro do produto em oferta.</p>
    <div class="form-group row">
      <div class="col-5 col-sm-3 col-md-2">
        <label class="active" for="opt_discount" pTooltip="Valor do desconto a ser dado no produto" tooltipPosition="top">Desconto</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="opt_discount"></p-inputSwitch>
      </div>

      <div class="col-7 col-sm-6 col-md-3">
        <label class="active" for="opt_discount_price_two" pTooltip="Valor do desconto de preço dois a ser dado no produto" tooltipPosition="top">Desconto Preço Dois</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="opt_discount_price_two"></p-inputSwitch>
      </div>

      <div class="col-5 col-sm-3 col-md-2">
        <label class="active" for="opt_cumulative" pTooltip="Quantidade de produtos para se obter o desconto" tooltipPosition="top">Acumulativo</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="opt_cumulative"></p-inputSwitch>
      </div>

      <div class="col-7 col-sm-5 col-md-3">
        <label class="active" for="opt_cumulative_payable" pTooltip="Quantidade de produtos que o cliente deverá pagar" tooltipPosition="top">Acumulativo a Pagar</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="opt_cumulative_payable"></p-inputSwitch>
      </div>

      <div class="col-5 col-sm-3 col-md-2">
        <label class="active" for="opt_top_offer" pTooltip="Informar se é um produto Top da agenda de oferta" tooltipPosition="top">Top Oferta</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="opt_top_offer"></p-inputSwitch>
      </div>

      <div class="col-7 col-sm-4 col-md-3">
        <label class="active" for="opt_view_percent_discount" pTooltip="Mostrar ao cliente a quantidade em porcentagem do desconto" tooltipPosition="top">Mostrar Porcentagem</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="opt_view_percent_discount"></p-inputSwitch>
      </div>

      <div class="col-5 col-sm-3 col-md-2">
        <label class="active" for="opt_wholesale" pTooltip="Informar se o produto é para atacado" tooltipPosition="top">Atacado</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="opt_wholesale"></p-inputSwitch>
      </div>

      <div class="col-7 col-sm-4 col-md-3">
        <label class="active" for="opt_limit_per_coupon" pTooltip="Quantidade limite que o cliente pode comprar por cupom" tooltipPosition="top">Limite por Cupom</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="opt_limit_per_coupon"></p-inputSwitch>
      </div>

      <div class="col-12 col-sm-4 col-md-3">
        <label class="active" for="opt_price_group" pTooltip="Informar se terão desconto, os produtos pertencentes ao mesmo grupo de preço" tooltipPosition="top">Grupo de Preço</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="opt_price_group"></p-inputSwitch>
      </div>
    </div>
  </form>
</p-panel>

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" pTooltip="Listagem de Motivos" tooltipPosition="right" (click)="goBack(true)" *ngIf="!buttonCancel.visible"></button>
    <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" accesskey="e" label="Editar" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && editable && permissionsUserLogged?.EDIT"></button>
    <button pButton type="submit" accesskey="g" label="Gravar" class="ui-button-success" (click)="save()" icon="fas fa-check" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && editable && permissionsUserLogged?.NEW"></button>
  </div>
</p-toolbar>
