<p-panel>
  <p-header>
    <h6 *ngIf="userData?.id">Usuário #{{ userData?.id }}</h6>
    <h6 *ngIf="!userData?.id">Usuário</h6>
  </p-header>

  <p-tabView>
    <!-- Cadastro -->
    <p-tabPanel header="Cadastro" leftIcon="fas fa-edit" [selected]="true">
      <form novalidate (ngSubmit)="save()" [formGroup]="form">
        <div class="form-group row">
          <div class="col-3 col-sm-2 col-md-1">
            <label class="active" for="active">Ativo</label>
            <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="active"></p-inputSwitch>
          </div>

          <div class="col-9 col-sm-3 col-md-3">
            <label class="active" for="partner_id">Id do Parceiro *</label>
            <div class="ui-inputgroup">
              <input type="number" pInputText id="partner_id" class="form-control" (keyup.enter)="searchPartner(false, $event.srcElement.value)" (blur)="searchPartner(false, $event.srcElement.value)" formControlName="partner_id"/>
              <button pButton type="button" icon="fas fa-search" class="ui-button-secondary" (click)="searchPartner(true);" [disabled]="!buttonSave.visible" pTooltip="Pesquisar Parceiro" tooltipPosition="left"></button>
            </div>

            <div class="messages text-danger"
              *ngIf="form.get('partner_id').hasError('required') && (form.get('partner_id').touched || form.get('partner_id').dirty)">
              Campo obrigatório
            </div>
          </div>

          <div class="col-12 col-sm-7 col-md-8">
            <label class="active">Nome do Parceiro</label>
            <input type="text" pInputText disabled [value]="namePartner">
          </div>

          <div class="col-5 col-sm-3">
            <label class="active" for="type">Status *</label>
            <p-autoComplete
              [style]="{'width': '100%'}"
              formControlName="status"
              inputId="status"
              dataKey="value"
              field="field"
              [suggestions]="filteredStatus"
              (completeMethod)="filterStatus($event)"
              [dropdown]="true"
              [forceSelection]="true"
            ></p-autoComplete>

            <div class="messages text-danger" *ngIf="form.get('status').hasError('required') && (form.get('status').touched || form.get('status').dirty)">
              Campo obrigatório
            </div>
          </div>

          <div class="col-7 col-sm-4 col-md-4">
            <label class="active" for="username">Nome de Usuário *</label>
            <input type="text" pInputText accesskey="o" id="username" class="form-control" formControlName="username"/>

            <div class="messages text-danger"
              *ngIf="form.get('username').hasError('required') && (form.get('username').touched || form.get('username').dirty)">
              Campo obrigatório
            </div>
            <div class="messages text-danger"
              *ngIf="form.get('username').hasError('minlength') && (form.get('username').touched || form.get('username').dirty)">
              O tamanho mínimo permitido é {{form.get('username').errors.minlength.requiredLength}}
            </div>
            <div class="messages text-danger"
              *ngIf="form.get('username').hasError('maxlength') && (form.get('username').touched || form.get('username').dirty)">
              O tamanho máximo permitido é {{form.get('username').errors.maxlength.requiredLength}}
            </div>
          </div>

          <div class="col-12 col-sm-5 col-md-5">
            <label class="active" for="email">Endereço de E-mail *</label>
            <input type="text" pInputText id="email" class="form-control" formControlName="email"/>

            <div class="messages text-danger" *ngIf="form.get('email').hasError('required') && (form.get('email').touched || form.get('email').dirty)">
              Campo obrigatório
            </div>
            <div class="messages text-danger" *ngIf="form.get('email').hasError('pattern') && (form.get('email').touched || form.get('email').dirty)">
              O e-mail informado não é válido.
            </div>
          </div>
        </div>

        <div *ngIf="userData?.id" >
          <h6 class="m-0">Nova Senha</h6>
          <p style="font-size: 0.6rem;" class="mb-2">Deixe em branco caso não for alterar</p>
        </div>
        <div class="form-group row">
          <div class="col-6">
            <label class="active" for="password">Senha *</label>
            <input type="password" pInputText id="password" formControlName="password" class="form-control"/>

            <div class="messages text-danger" *ngIf="form.get('password').hasError('required') && (form.get('password_confirmation').touched || form.get('password_confirmation').dirty)">
              Uma senha deve ser informada.
            </div>
            <div class="messages text-danger" *ngIf="form.get('password').hasError('minlength') && (form.get('password_confirmation').touched || form.get('password_confirmation').dirty)">
              A senha está muito curta.
            </div>
            <div class="messages text-danger" *ngIf="form.get('password').hasError('maxlength') && (form.get('password_confirmation').touched || form.get('password_confirmation').dirty)">
              A senha está muito grande.
            </div>
          </div>

          <div class="col-6">
            <label class="active" for="password_confirmation">Repita a Senha *</label>
            <input type="password" pInputText id="password_confirmation" formControlName="password_confirmation" class="form-control"/>

            <div class="messages text-danger" *ngIf="form.get('password_confirmation').hasError('matchOther') && (form.get('password_confirmation').touched || form.get('password_confirmation').dirty)">
              A senha não confere com a anterior.
            </div>
          </div>
        </div>
      </form>
    </p-tabPanel>

    <!-- Permissões -->
    <p-tabPanel header="Permissões" leftIcon="fas fa-lock">
      <app-permissions (permissionsEvent)="permissionsUser($event)" [buttonSaveActive]="buttonSave.visible" [idUserEvent]="userData?.id"></app-permissions>
    </p-tabPanel>
  </p-tabView>
</p-panel>

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" pTooltip="Listagem de Usuários" tooltipPosition="right" (click)="goBack(true)" *ngIf="!buttonCancel.visible"></button>
    <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" accesskey="e" label="Editar" class="ui-button-primary" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && permissionsUserLogged?.EDIT"></button>
    <button pButton type="submit" accesskey="g" label="Gravar" class="ui-button-success" icon="fas fa-check" (click)="save()" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && (permissionsUserLogged?.NEW || permissionsUserLogged?.EDIT)"></button>
  </div>
</p-toolbar>

<p-dialog
  header="Selecionar Parceiro"
  [contentStyle]="{'max-width':'640px'}"
  [modal]="true"
  [baseZIndex]="30"
  [(visible)]="displayListPartners"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [positionTop]="3"
  [closeOnEscape]="true"
>
  <app-list-partners (partnerSelectedEvent)="setDataPartner($event.id, $event.name)" *ngIf="displayListPartners"></app-list-partners>
</p-dialog>

<!--<swal
  #deleteSwal
  title="Exclusão"
  text="Você deseja relmente excluir este Usuário?"
  type="warning"
  timer="5000"
  cancelButtonText="Não"
  confirmButtonText="Sim, excluir!"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="deleteUser()">
</swal>-->
