<p-panel>
  <p-header>
    <h6 *ngIf="data?.id">Lista de Compra #{{ data?.id }}</h6>
    <h6 *ngIf="!data?.id">Lista de Compra</h6>
  </p-header>

  <div class="form-group row">
    <div class="col-12">
      <label class="active">Nome</label>
      <input type="text" pInputText class="form-control" disabled [value]="data?.name || ''" />
    </div>

    <div class="col-12">
      <label class="active">Anotação</label>
      <textarea rows="2" pInputTextarea autoResize="autoResize" class="form-control" disabled>{{ data?.note }}</textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-6 col-md-3">
      <label class="active">Data de cadastro</label>
      <input type="text" pInputText class="form-control" disabled [value]="data?.created_at | date: 'dd/MM/yyyy HH:mm'" />
    </div>
  
    <div class="col-6 col-md-3">
      <label class="active">Data para compra</label>
      <input type="text" pInputText class="form-control" disabled [value]="data?.date_for_purchase | date: 'dd/MM/yyyy HH:mm'" />
    </div>

    <div class="col-12 col-md-6">
      <label class="active">Lista cadastrada por</label>
      <input type="text" pInputText class="form-control" disabled [value]="data?.created_by || ''" />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-2 col-sm-1">
      <label class="active">Pública</label>
      <p-inputSwitch onLabel="Sim" offLabel="Não" [(ngModel)]="!!data.public" disabled="true"></p-inputSwitch>
    </div>
    
    <div class="col-2 col-sm-1">
      <label class="active">Compartilhada</label>
      <p-inputSwitch onLabel="Sim" offLabel="Não" [(ngModel)]="!!data.shared" disabled="true"></p-inputSwitch>
    </div>
  </div>

</p-panel>

<p-panel [toggleable]="true">
  <p-header>
    <h6>Produtos</h6>
  </p-header>

  <p-messages *ngIf="!!!data?.listProducts" [(value)]="messageNotFound" [closable]="false"></p-messages>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3" *ngFor="let item of data?.listProducts || []">
      <p-card styleClass="ui-card-shadow" [style]="{'margin-bottom': '10px'}">
        <p-header>
          <div class="imagem">
            <img (click)="openLightBoxGallery(item?.product?.images)" [src]="item?.product?.images[0]?.thumb">
          </div>
          <b>{{ item?.product?.description }}</b>
        </p-header>

        <p>Quantidade a comprar: {{ item?.quantity || 0 }}</p>
        <p>Quantidade comprada: {{ item?.quantity_purchased || 0 }}</p>
      </p-card>
    </div>
  </div>
</p-panel>

