<p-panel>
  <p-header>
    <h6 *ngIf="data?.id">Seção #{{ data?.id }}</h6>
    <h6 *ngIf="!data?.id">Seção</h6>
  </p-header>

  <form novalidate (ngSubmit)="save()" [formGroup]="form">
    <div class="form-group row">
      <div class="col-auto">
        <label class="active" for="type_id">Tipo do Seção</label>
        <p-dropdown class="text-left" formControlName="type_id"
          [options]="types"
          [style]="{'width': '100%'}"
          dataKey="id"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [autoDisplayFirst]="false"
          [showClear]="true"
          placeholder="Selecionar Tipo"
          emptyFilterMessage="Nenhum resultado encontrado">
        </p-dropdown>

        <div class="messages text-danger"
          *ngIf="form.get('type_id').hasError('required') && (form.get('type_id').touched || form.get('type_id').dirty)">
          Campo obrigatório
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label class="active" for="name">Nome</label>
        <input type="text" autofocus pInputText accesskey="o" id="name" class="form-control" formControlName="name"/>

        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('required') && (form.get('name').touched || form.get('name').dirty)">
          Campo obrigatório
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('minlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho mínimo permitido é {{form.get('name').errors.minlength.requiredLength}}
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('maxlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho máximo permitido é {{form.get('name').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <label class="active" for="description">Descrição</label>
        <textarea rows="2" cols="100" pInputTextarea autoResize="autoResize" id="description" class="form-control" formControlName="description"></textarea>

        <div class="messages text-danger"
          *ngIf="form.get('description').hasError('maxlength') && (form.get('description').touched || form.get('description').dirty)">
          O tamanho máximo permitido é {{form.get('description').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>
  </form>
</p-panel>

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" pTooltip="Listagem de Seções" tooltipPosition="right" (click)="goBack(true)" *ngIf="!buttonCancel.visible"></button>
    <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" accesskey="e" label="Editar" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && permissionsUserLogged?.EDIT"></button>
    <button pButton type="submit" accesskey="g" label="Gravar" class="ui-button-success" icon="fas fa-check" (click)="save()" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && permissionsUserLogged?.NEW"></button>
  </div>
</p-toolbar>

<swal
  #deleteSwal
  title="Exclusão"
  text="Você deseja relmente excluir esta Seção?"
  type="warning"
  timer="5000"
  cancelButtonText="Não"
  confirmButtonText="Sim, excluir!"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="deleteSection()">
</swal>
