<form novalidate [formGroup]="form_adresses" class="mb-2">
  <div class="form-group row">
    <div class="col-12 col-sm-3">
      <label class="active" for="cep">CEP *</label>
      <input type="text" pInputText id="cep" class="form-control" [textMask]="{mask: maskCep, guide: false}" (blur)="searchCep($event.srcElement.value)" formControlName="cep" />

      <div class="messages text-danger" *ngIf="form_adresses.get('cep').hasError('required') && (form_adresses.get('cep').touched || form_adresses.get('cep').dirty)">
        Campo obrigatório
      </div>

      <div class="messages text-danger" *ngIf="form_adresses.get('cep').hasError('cepInvalid') && (form_adresses.get('cep').touched || form_adresses.get('cep').dirty)">
        CEP inválido
      </div>
    </div>

    <div class="col-12 col-sm-7">
      <label class="active" for="street">Rua *</label>
      <input type="text" pInputText id="street" class="form-control" formControlName="street" />

      <div class="messages text-danger" *ngIf="form_adresses.get('street').hasError('required') && (form_adresses.get('street').touched || form_adresses.get('street').dirty)">
        Campo obrigatório
      </div>
    </div>

    <div class="col-12 col-sm-2">
      <label class="active" for="number">Número</label>
      <input type="text" pInputText id="number" class="form-control" formControlName="number" />
    </div>

    <div class="col-12 col-sm-6">
      <label class="active" for="complement">Complemento</label>
      <input type="text" pInputText id="complement" class="form-control" formControlName="complement" />
    </div>

    <div class="col-12 col-sm-6">
      <label class="active" for="neighborhood">Bairro *</label>
      <input type="text" pInputText id="neighborhood" class="form-control" formControlName="neighborhood" />

      <div class="messages text-danger" *ngIf="form_adresses.get('neighborhood').hasError('required') && (form_adresses.get('neighborhood').touched || form_adresses.get('neighborhood').dirty)">
        Campo obrigatório
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <label class="active" for="city">Cidade *</label>
      <input type="text" pInputText id="city" class="form-control" formControlName="city" />

      <div class="messages text-danger" *ngIf="form_adresses.get('city').hasError('required') && (form_adresses.get('city').touched || form_adresses.get('city').dirty)">
        Campo obrigatório
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <label class="active" for="state">Estado *</label>
      <input type="text" pInputText id="state" class="form-control" formControlName="state" />

      <div class="messages text-danger" *ngIf="form_adresses.get('state').hasError('required') && (form_adresses.get('state').touched || form_adresses.get('state').dirty)">
        Campo obrigatório
      </div>
    </div>
  </div>

  <!--Buttons-->
  <p-toolbar *ngIf="form_partner_enabled">
    <div class="ui-toolbar-group-right">
      <button pButton type="button" label="Novo" class="ui-button-secondary float-right"  style="float: right;" icon="fas fa-check" (click)="form_adresses.reset(); enableFormAdresses(true);" [disabled]="table.adresses.buttons.buttonNew.disabled" *ngIf="table.adresses.buttons.buttonNew.visible && permissionsUserLogged?.NEW"></button>
      <button pButton type="submit" label="Gravar" class="ui-button-secondary float-right" icon="fas fa-check" (click)="addOrUpdateAddress()" [disabled]="table.adresses.buttons.buttonSave.disabled || form_adresses.invalid" *ngIf="table.adresses.buttons.buttonSave.visible && (permissionsUserLogged?.NEW || permissionsUserLogged?.EDIT)"></button>
      <button pButton type="button" label="Editar" class="ui-button-secondary float-right" icon="fas fa-pencil-alt" (click)="enableFormAdresses()" [disabled]="table.adresses.buttons.buttonDelete.disabled" *ngIf="table.adresses.buttons.buttonEdit.visible && permissionsUserLogged?.EDIT"></button>
      <button pButton type="button" label="Excluir" class="ui-button-secondary float-right" icon="fas fa-trash" (click)="removeAddress()" [disabled]="table.adresses.buttons.buttonDelete.disabled" *ngIf="table.adresses.buttons.buttonDelete.visible && permissionsUserLogged?.DELETE"></button>
      <button pButton type="button" label="Cancelar" class="ui-button-secondary float-right" icon="fas fa-ban" (click)="disableFormAdresses()" *ngIf="table.adresses.buttons.buttonCancel.visible"></button>
    </div>
  </p-toolbar>
</form>

<p-messages *ngIf="!!!table.adresses.data.length" [(value)]="table.adresses.messageNotFound" [closable]="false"></p-messages>
<p-table #dtAddress *ngIf="!!table.adresses.data.length"
  [columns]="table.adresses.cols"
  [value]="table.adresses.data"
  [resizableColumns]="true"
  [responsive]="true"
  [paginator]="true" [rows]="5"
  selectionMode="single"
  [(selection)]="selectedRowTableAdresses"
>
  <!-- Header Table -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col?.width}" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!-- Body Table-->
  <ng-template pTemplate="body" let-data let-columns="columns">
    <tr [pSelectableRow]="data" [pSelectableRowDisabled]="table.adresses.disableRow">
      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[0].header}}</span>
        {{data?.id}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[1].header}}</span>
        {{data.cep}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[2].header}}</span>
        {{data.street}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[3].header}}</span>
        {{data.number}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[4].header}}</span>
        {{data.complement}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[5].header}}</span>
        {{data.neighborhood}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[6].header}}</span>
        {{data.city}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[7].header}}</span>
        {{data.state}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[8].header}}</span>
        {{data.created_at | date: 'dd/MM/yyyy HH:mm' }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    Total de endereços: {{dtAddress.totalRecords}}
  </ng-template>
</p-table>
