<!--Clonar-->
<p-panel header="Clonar Permissões" [toggleable]="true" [collapsed]="true" *ngIf="buttonActive">
  <div class="form-group row">
    <div class="col-12 col-sm-3">
      <label class="active">Id do Usuário</label>
      <div class="ui-inputgroup">
        <input type="number" pInputText class="form-control"
          (keyup.enter)="searchDataUser($event.srcElement.value, true)"
          (blur)="searchDataUser($event.srcElement.value, true)"
          [value]="userData?.id || ''"
        />
        <button pButton type="button" icon="fas fa-search" class="ui-button-secondary" (click)="displayListUsers = true;" pTooltip="Pesquisar Usuário" tooltipPosition="left"></button>
      </div>
    </div>

    <div class="col-12 col-sm-9">
      <label class="active">Nome do usuário</label>
      <input type="text" pInputText disabled [value]="userData?.partner?.name_reason || ''">
    </div>
  </div>
</p-panel>

<!--Permissões-->
<div class="row permissions">
  <!--Páginas-->
  <div class="col-12 col-sm-6 mb-2">
    <p-treeTable [value]="permissionsTreeOrganized" selectionMode="single" [(selection)]="selectedPageTree" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th [ttSortableColumn]="'description'">
            Páginas
            <p-treeTableSortIcon [field]="'description'"></p-treeTableSortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr *ngIf="rowData.type !== 'action'" [ttSelectableRow]="rowNode">
          <td>
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{rowData.description}}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr class="emptymessage">
          <td [attr.colspan]="1">
            Nenhuma página encontrada
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>

  <!--Ações-->
  <div class="col-12 col-sm-6 mb-2">
    <p-table [value]="permissionsActions" [selectionMode]="buttonActive ? 'multiple' : null" [(selection)]="permissionsUserSelected"
      (onRowSelect)="onRowSelectAction($event)" (onRowUnselect)="onRowUnselectAction($event)" dataKey="page_action_id">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Ações</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td>{{rowData.description}}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr class="emptymessage">
          <td [attr.colspan]="1">
            Selecione uma página para visualizar as opções
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p class="m-0 text-center">Clique sobre os itens para seleciona-los ou desseleciona-los</p>

<p-dialog
  header="Selecionar Usuário"
  [contentStyle]="{'max-width':'640px'}"
  [modal]="true"
  [baseZIndex]="30"
  [(visible)]="displayListUsers"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [positionTop]="3"
  [closeOnEscape]="true"
>
  <app-list-users (userSelectedEvent)="searchDataUser($event.idUser, true)" *ngIf="displayListUsers"></app-list-users>
</p-dialog>
