@import "assets/scss/theme-ideal/_header";
@import "assets/scss/theme-ideal/_logo";
@import "assets/scss/theme-ideal/_sidebar";
@import "assets/scss/theme-ideal/_loader-theme";
@import "assets/scss/_primeng";
@import "assets/scss/_colors";

body {
  background-color: #f3f3f3;
  font-size: 0.875em;
  overflow-x: hidden;
  color: #292f3d;
  font-family: "Open Sans", sans-serif;
}

*:focus {
  outline: none;
}

* a {
  font-size: 14px;
}

* a:focus, * a:hover {
  text-decoration: none;
}

p {
  font-size: 13px
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

/** Theme */
.bg-c-blue {
  background-color: #2399e5;
}

.row-red {
  color: #d9534f !important;
}

.row-orange {
  color: #d67f01 !important;
}

.box.login {
  .ui-card .ui-card-header {
    background-color: #2399e5;
    color: #fff;
    padding: 10px;
  }

  h4 {
    margin: 0;
  }
}

/** ng2-toasty */
#toasty .toast.toasty-theme-bootstrap.toasty-type-wait {
  background-color: #1f89ce;
  border-color: #1f89ce;
}

/** BOOTSTRAP */
label {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 1em;
}

.form-control:focus {
  border: 1px solid #1f89ce;
}

.form-control:disabled {
  background-color: #f7f7f7;
  opacity: 0.6;
}

.form-control[readonly] {
  opacity: 0.5;
}

p.form-control {
  margin: 0;
  background-color: #f7f7f7;
  color: #000;
  opacity: 0.9;
  padding: .25em;
  height: 30px;
}

/** Editor Froala */
.fr-toolbar.fr-top {
  box-shadow: none;
  border-width: 1px;
  border-color: #cccccc;
  border-style: solid;
  border-bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
  box-shadow: none;
  border: 1px solid #cccccc;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.fr-toolbar.fr-desktop.fr-top.fr-basic.fr-disabled.fr-sticky-off {
  background: #f7f7f7;
}

.fr-element.fr-view.fr-disabled {
  background: #f7f7f7;
  opacity: 0.6;
}

.fr-element:focus {
  box-shadow: 0px 0px 5px #2399e5;
  border: 1px solid #1f89ce;
}

.fr-box .fr-counter {
  border: none;
  margin-right: 2px !important;
  margin-bottom: 2px;
  background-color: rgba(255, 255, 255, 0.46);
}

.fr-popup {
  border-top: 5px solid #1f89ce;
}

.fr-popup .fr-arrow {
  border-bottom: 5px solid #1f89ce;
}

.permissions {
  .ui-treetable .ui-treetable-thead > tr > th, .ui-treetable .ui-treetable-tfoot > tr > td {
    background-color: #f6f7f9 !important;
  }

  .ui-treetable .ui-sortable-column.ui-state-highlight {
    background-color: #f6f7f9 !important;
    color: #1b1d1f;
  }

  .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight {
    background-color: #2399e5 !important;
  }

  .ui-treetable .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
    color: #1b1d1f;
  }
}

