<p-panel>
  <p-header>
    <h6>Gerenciador</h6>
  </p-header>

  <form novalidate (ngSubmit)="save()" [formGroup]="form">
    <div class="form-group row">
      <div class="col-12 col-sm-3">
        <label class="active" for="user_id">Id do Usuário *</label>
        <div class="ui-inputgroup">
          <input type="number" pInputText id="user_id" class="form-control" (keyup.enter)="searchUser(false, $event.srcElement.value)" (blur)="searchUser(false, $event.srcElement.value)" formControlName="user_id"/>
          <button pButton type="button" icon="fas fa-search" class="ui-button-secondary" [disabled]="form.disabled" (click)="searchUser(true);" pTooltip="Pesquisar Usuário" tooltipPosition="left"></button>
        </div>

        <div class="messages text-danger"
          *ngIf="form.get('user_id').hasError('required') && (form.get('user_id').touched || form.get('user_id').dirty)">
          Campo obrigatório
        </div>
      </div>

      <div class="col-12 col-sm-9">
        <label class="active">Nome do Usuário</label>
        <input type="text" pInputText disabled [value]="dataUser?.partner?.name_reason || ''">
      </div>
    </div>
  </form>

  <app-permissions (permissionsEvent)="permissionsUser($event)" [buttonSaveActive]="buttonSave.visible" [idUserEvent]="dataUser?.id"></app-permissions>
</p-panel>

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" tooltipPosition="right" (click)="goBack()" *ngIf="!buttonCancel.visible"></button>
    <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" accesskey="e" label="Editar" class="ui-button-primary" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && permissionsUserLogged?.EDIT"></button>
    <button pButton type="button" accesskey="g" label="Gravar" class="ui-button-success" icon="fas fa-check" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && permissionsUserLogged?.EDIT" (click)="save()"></button>
  </div>
</p-toolbar>

<p-dialog
  header="Selecionar Usuário"
  [contentStyle]="{'max-width':'640px'}"
  [modal]="true"
  [baseZIndex]="30"
  [(visible)]="displayListUsers"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [positionTop]="3"
  [closeOnEscape]="true"
>
  <app-list-users (userSelectedEvent)="searchUser(false, $event.idUser)" *ngIf="displayListUsers"></app-list-users>
</p-dialog>
