<p-table
  [columns]="table.cols"
  [value]="table.dataProducts"
  [rows]="table.rowsOnPage"
  [resizableColumns]="true"
  [responsive]="true"
  selectionMode="single"
  [(selection)]="selectedRowTable"
>
  <ng-template pTemplate="caption">
    <div class="row p-0">
      <div class="col-md-12 text-left">
        <p-dropdown class="text-left"
          [style]="{'min-width': '120px'}"
          [(ngModel)]="search.whereBy"
          [options]="search.searchOptions"
          dataKey="value"
          optionLabel="label"
          [filter]="true"
          filterBy="label"
          [showClear]="false"
          emptyFilterMessage="Nenhum resultado encontrado">
        </p-dropdown>

        <div class="ui-inputgroup">
          <input pInputText type="search" accesskey="b" (search)="searchManual()" [(ngModel)]="search.whereTextSearch" placeholder="Pesquisar produto">
          <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="searchManual()"></button>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Header Table -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em" pResizableColumn></th>

      <th style="width: 4em" [pSortableColumn]="columns[0].field" pResizableColumn>
        {{columns[0].header}}
        <p-sortIcon [field]="columns[0].field"></p-sortIcon>
      </th>

      <th style="width: 5em" [pSortableColumn]="columns[1].field" pResizableColumn>
        {{columns[1].header}}
        <p-sortIcon [field]="columns[1].field"></p-sortIcon>
      </th>

      <th style="width: 8em" [pSortableColumn]="columns[2].field" pResizableColumn>
        {{columns[2].header}}
        <p-sortIcon [field]="columns[2].field"></p-sortIcon>
      </th>

      <th style="width: 15em" [pSortableColumn]="columns[3].field" pResizableColumn>
        {{columns[3].header}}
        <p-sortIcon [field]="columns[3].field"></p-sortIcon>
      </th>

      <th style="width: 8em" [pSortableColumn]="columns[4].field" pResizableColumn>
        {{columns[4].header}}
        <p-sortIcon [field]="columns[4].field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!-- Body Table -->
  <ng-template pTemplate="body" let-dataProducts let-columns="columns">
    <tr
      [pSelectableRow]="dataProducts"
      (dblclick)="addProductSelected(dataProducts)"
      [class.row-orange]="dataProducts.inPriceGroup && !dataProducts.inOffer"
      [class.row-red]="dataProducts.inOffer"
    >
      <td>
        <span class="ui-column-title">Selecionar Produto</span>
        <button pButton type="button" class="ui-button-secondary m-0" icon="fas fa-plus" (click)="addProductSelected(dataProducts)"></button>
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[0].header}}</span>
        {{dataProducts.id}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[1].header}}</span>
        {{dataProducts.active ? 'Sim' : 'Não'}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[2].header}}</span>
        {{dataProducts.barcode}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[3].header}}</span>
        {{dataProducts.description}}
      </td>

      <td class="ui-resizable-column">
        <span class="ui-column-title">{{columns[4].header}}</span>
        {{dataProducts.price | currency:'BRL':'symbol'}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr class="emptymessage">
      <td [attr.colspan]="columns.length + 1">
        Nenhum produto foi encontrado
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  [rows]="table.rowsOnPage"
  [totalRecords]="table.elementsPagination.total"
  [alwaysShow]="true"
  [pageLinkSize]="5"
  (onPageChange)="setPage($event)"
  [rowsPerPageOptions]="table.selectRowsOnPage">
</p-paginator>

<li class="row-red m-0 mt-2">Produto existente na agenda de promoção.</li>
<li class="row-orange m-0">Produto pertencente ao grupo de preço de um produto existente na agenda de promoção.</li>
