<p-panel>
  <p-header>
    <h6 *ngIf="data?.id">Produto #{{ data?.id }}</h6>
    <h6 *ngIf="!data?.id">Produto</h6>
  </p-header>

  <p-messages [(value)]="msgs" [closable]="false"></p-messages>

  <p-tabView>
    <!-- Cadastro -->
    <p-tabPanel header="Cadastro" leftIcon="fas fa-edit" [selected]="true">
      <form novalidate [formGroup]="form">
        <div formGroupName="product">
          <div class="form-group">
            <div class="row">
              <div class="col-md-1 col-3">
                <label class="active" for="active">Ativo</label>
                <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="active"></p-inputSwitch>
              </div>

              <div class="col-md-3 col-9">
                <label class="active" for="barcode">Cód. Barras *</label>
                <input type="text" autofocus pInputText id="barcode" class="form-control" (blur)="verifyBarcodeDuplicated($event.target.value)" formControlName="barcode"/>

                <div class="messages text-danger"
                  *ngIf="form.get('product.barcode').hasError('required') && (form.get('product.barcode').touched || form.get('product.barcode').dirty)">
                  Campo obrigatório
                </div>

                <div class="messages text-danger"
                  *ngIf="form.get('product.barcode').hasError('duplicity') && (form.get('product.barcode').touched || form.get('product.barcode').dirty)">
                  O código informado já existe
                </div>
              </div>

              <div class="col-md-8 col-12">
                <label class="active" for="description">Descrição Curta *</label>
                <input type="text" pInputText id="description" class="form-control" formControlName="description"/>

                <div class="messages text-danger"
                  *ngIf="form.get('product.description').hasError('required') && (form.get('product.description').touched || form.get('product.description').dirty)">
                  Campo obrigatório
                </div>
                <div class="messages text-danger"
                  *ngIf="form.get('product.description').hasError('minlength') && (form.get('product.description').touched || form.get('product.description').dirty)">
                  O tamanho mínimo permitido é {{form.get('product.description').errors.minlength.requiredLength}}
                </div>
                <div class="messages text-danger"
                  *ngIf="form.get('product.description').hasError('maxlength') && (form.get('product.description').touched || form.get('product.description').dirty)">
                  O tamanho máximo permitido é {{form.get('product.description').errors.maxlength.requiredLength}}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <label class="active" for="description_long">Descrição Longa</label>
                <textarea #froalaEditor [froalaEditor]='optionsEditor' formControlName="description_long"></textarea>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-7 col-sm-7">
                <label class="active" for="unity_id">Tipo Embalagem *</label>
                <p-dropdown class="text-left" formControlName="unity_id"
                  [options]="unitys"
                  [style]="{'width': '100%'}"
                  dataKey="id"
                  optionLabel="name"
                  [filter]="false"
                  filterBy="name"
                  [autoDisplayFirst]="false"
                  [showClear]="true"
                  [required]="true"
                  placeholder="Selecionar Tipo"
                  emptyFilterMessage="Nenhum resultado encontrado">
                </p-dropdown>

                <div class="messages text-danger"
                  *ngIf="form.get('product.unity_id').hasError('required') && (form.get('product.unity_id').touched || form.get('product.unity_id').dirty)">
                  Campo obrigatório
                </div>
              </div>

              <div class="col-5 col-sm-5">
                <label class="active" for="price">Preço *</label>
                <input
                  type="text"
                  pInputText
                  class="form-control autonumber"
                  id="price"
                  currencyMask [options]="{ prefix:'R$ ', align:'left', decimal:',', thousands:'.', allowZero: false, allowNegative: false }"
                  formControlName="price"
                />

                <div class="messages text-danger"
                  *ngIf="form.get('product.price').hasError('required') && (form.get('product.price').touched || form.get('product.price').dirty)">
                  Campo obrigatório
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>
        <div formGroupName="section">
          <h4 class="mb-0">Seções</h4>
          <div class="form-group row">
            <div class="col-sm-6 col-md-4" *ngFor="let add of sectionTypes">
              <label class="active" [for]="add.id">{{add.name}} <span *ngIf="add.required">*</span></label>
              <p-dropdown class="text-left"
                [formControlName]="add.id"
                [id]="add.id"
                [required]="add.required"
                [style]="{'width': '100%'}"
                [options]="add.section"
                dataKey="id"
                optionLabel="name"
                [filter]="false"
                filterBy="name"
                [autoDisplayFirst]="false"
                [showClear]="true"
                [placeholder]="'Selecionar ' +  add.name"
                emptyFilterMessage="Nenhum resultado encontrado">
              </p-dropdown>

              <div class="messages text-danger"
                *ngIf="form.get('section.' + add.id).hasError('required') && (form.get('section.' + add.id).touched || form.get('section.' + add.id).dirty)">
                Campo obrigatório
              </div>
            </div>
          </div>
        </div>

        <hr class="style14">
        <div formGroupName="attributes">
          <h4 class="mb-0">Atributos</h4>
          <div class="form-group row">
            <div class="col-sm-6 col-md-4" *ngFor="let att of attributesTypes">
              <div [ngSwitch]="att?.style?.id">
                <label class="active" [for]="att.id">{{att.name}} <span *ngIf="att.required">*</span></label>
                <p-dropdown class="text-left"
                  *ngSwitchCase="'dropdown'"
                  [formControlName]="att.id"
                  [id]="att.id"
                  [required]="att.required"
                  [style]="{'width': '100%'}"
                  [options]="att.attributes"
                  dataKey="id"
                  optionLabel="name"
                  [filter]="false"
                  filterBy="name"
                  [autoDisplayFirst]="false"
                  [showClear]="true"
                  [placeholder]="'Selecionar ' +  att.name"
                  emptyFilterMessage="Nenhum resultado encontrado">
                </p-dropdown>

                <p-multiSelect class="text-left"
                  *ngSwitchCase="'multiselect'"
                  [formControlName]="att.id"
                  [id]="att.id"
                  [required]="att.required"
                  [style]="{'width': '100%'}"
                  [options]="att.attributes"
                  dataKey="id"
                  optionLabel="name"
                  [filter]="false"
                  filterBy="name"
                  [defaultLabel]="'Selecionar ' +  att.name">
                </p-multiSelect>

                <p-inputSwitch
                  onLabel="Sim" offLabel="Não"
                  *ngSwitchCase="'switch'"
                  [formControlName]="att.id"
                  [id]="att.id"
                  [required]="att.required"
                  [style]="{'width': '100%'}"
                ></p-inputSwitch>

                <input type="text" pInputText class="form-control"
                  *ngSwitchCase="'text'"
                  [formControlName]="att.id"
                  [id]="att.id"
                  [required]="att.required"
                  [style]="{'width': '100%'}"
                />

                <textarea rows="1" pInputTextarea autoResize="autoResize" class="form-control"
                  *ngSwitchCase="'textarea'"
                  [formControlName]="att.id"
                  [id]="att.id"
                  [required]="att.required"
                  [style]="{'width': '100%'}"
                ></textarea>

                <div class="messages text-danger"
                  *ngIf="form.get('attributes.' + att.id).hasError('required') && (form.get('attributes.' + att.id).touched || form.get('attributes.' + att.id).dirty)">
                  Campo obrigatório
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="data?.id">
          <div class="col-sm-6 fs-08 text-center">Cadastrado por {{ data.created?.partner?.name_reason | pickUpCertainWords:2 }} dia {{ data.created_at | date: 'dd/MM/yyyy HH:mm' }}</div>
          <div class="col-sm-6 fs-08 text-center" *ngIf="data.updated">Atualizado por {{ data.updated?.partner?.name_reason | pickUpCertainWords:2 }} dia {{ data.updated_at | date: 'dd/MM/yyyy HH:mm' }}</div>
        </div>
      </form>
    </p-tabPanel>

    <!-- Images -->
    <p-tabPanel header="Imagens" leftIcon="far fa-images" [disabled]="false">
      <app-upload [formEnabled]="form.enabled" (newImages)="setNewImagesUploaded($event)"></app-upload>
      <app-gallery [formEnabled]="form.enabled" [dataImages]="dataImages" (deleteImages)="setDeleteImagesGallery($event)"></app-gallery>
    </p-tabPanel>
  </p-tabView>
</p-panel>

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" pTooltip="Listagem de Produtos" tooltipPosition="right" (click)="goBack(true)" *ngIf="!buttonCancel.visible"></button>
    <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" accesskey="e" label="Editar" (froalaInit)="initialize($event)" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && permissionsUserLogged?.EDIT"></button>
    <button pButton type="submit" accesskey="g" label="Gravar" class="ui-button-success" (click)="save()" icon="fas fa-check" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && (permissionsUserLogged?.NEW || permissionsUserLogged?.EDIT)"></button>
  </div>
</p-toolbar>

<!--<swal
  #deleteSwal
  title="Exclusão"
  text="Você deseja relmente excluir este produto?"
  type="warning"
  timer="5000"
  cancelButtonText="Não"
  confirmButtonText="Sim, excluir!"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="deleteProduct()">
</swal>-->

