<p-panel>
  <p-header>
    <h6 *ngIf="typeData?.id">Tipo de Seção #{{ typeData?.id }}</h6>
    <h6 *ngIf="!typeData?.id">Tipo de Seção</h6>
  </p-header>

  <form novalidate (ngSubmit)="save()" [formGroup]="form">
    <div class="form-group row">
      <div class="col-3 col-sm-2">
        <label class="active" for="required">Obrigatório</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="required"></p-inputSwitch>
      </div>

      <div class="col-9 col-sm-10">
        <label class="active" for="name">Nome</label>
        <input type="text" autofocus pInputText accesskey="o" id="name" class="form-control" formControlName="name"/>

        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('required') && (form.get('name').touched || form.get('name').dirty)">
          Campo obrigatório
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('minlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho mínimo permitido é {{form.get('name').errors.minlength.requiredLength}}
        </div>
        <div class="messages text-danger"
          *ngIf="form.get('name').hasError('maxlength') && (form.get('name').touched || form.get('name').dirty)">
          O tamanho máximo permitido é {{form.get('name').errors.maxlength.requiredLength}}
        </div>
      </div>
    </div>

    <!--<div class="form-group row">
      <div class="col-auto">
        <label class="active" for="required">Parentesco *</label>
        <p-dropdown class="text-left"
          formControlName="parent_id"
          [options]="parents"
          [style]="{'width': '100%'}"
          dataKey="id"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [autoDisplayFirst]="false"
          [showClear]="true"
          emptyFilterMessage="Nenhum resultado encontrado">
        </p-dropdown>
      </div>

      <div class="col-auto">
        <label class="active" for="required">Obrigatório</label>
        <p-inputSwitch onLabel="Sim" offLabel="Não" formControlName="required"></p-inputSwitch>
      </div>
    </div>-->
  </form>
</p-panel>

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" accesskey="v" label="Voltar" class="ui-button-secondary" pTooltip="Listagem de Tipos" tooltipPosition="right" (click)="goBack(true)" *ngIf="!buttonCancel.visible"></button>
    <button pButton type="button" accesskey="c" label="Cancelar" class="ui-button-secondary" icon="fas fa-ban" (click)="goBack()" *ngIf="buttonCancel.visible"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" accesskey="e" label="Editar" routerLink="editar" routerLinkActive="active" icon="fas fa-pencil-alt" [disabled]="buttonEdit.disabled" *ngIf="buttonEdit.visible && editable && permissionsUserLogged?.EDIT"></button>
    <button pButton type="submit" accesskey="g" label="Gravar" class="ui-button-success" icon="fas fa-check" (click)="save()" [disabled]="buttonSave.disabled || form.invalid" *ngIf="buttonSave.visible && editable && permissionsUserLogged?.NEW"></button>
  </div>
</p-toolbar>
