// https://angular.io/guide/component-styles
:host {
  .organize {
    display: initial;
    font-weight: normal;
  }

  .ui-resizable-column > div > p {
    margin: 0;
    display: initial;
    font-size: unset;
  }

  tr > th.action {
    width: 3em;
  }

  .status.red {
    color: #dc3545;
  }

  .status.green {
    color: #28a745;
  }

  .status.orange {
    color: #ffa729;
  }

  .status.grey {
    color: #6c757d
  }

  li {
    list-style-type: square;
    line-height: 1rem;
  }
}
