<p-panel>
  <p-header>
    <h5>Listagem</h5>
    <button *ngIf="permissionsUserLogged?.NEW" pButton type="button" label="Nova Agenda" class="float-right" accesskey="a" icon="fas fa-plus" routerLink="cadastro" routerLinkActive="active"></button>
  </p-header>

  <p-table
    [columns]="selectedViewColumns"
    [value]="table.dataOffers"
    [rows]="table.rowsOnPage"
    [resizableColumns]="true"
    [responsive]="true"
    selectionMode="single"
    [(selection)]="table.selectedRowTable"
  >
    <ng-template pTemplate="caption">
      <div class="row p-0">
        <div class="col-md-12 text-right">
          <!--Options-->
          <p-dropdown
            class="text-left"
            [options]="search.searchOptions"
            [filter]="true" filterBy="label"
            [showClear]="false"
            emptyFilterMessage="Nenhum resultado encontrado"
            (onChange)="selectTheOperators($event.value)"
            [(ngModel)]="search.whereBy"
          ></p-dropdown>

          <!--Operators-->
          <p-dropdown
            class="text-left"
            [options]="search.searchOptionsOperator"
            [(ngModel)]="search.whereOperator"
            *ngIf="search.searchOptionsOperator.length != 0"
          ></p-dropdown>

          <!--Input Search-->
          <div class="organize" [ngSwitch]="search.whereByTypeSelected">
            <!--div class="organize" *ngSwitchCase="'date'">
              <p-calendar [locale]="search.calendarLanguage.pt_BR" [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" [(ngModel)]="search.whereTextSearch" placeholder="De: Data e Hora"></p-calendar>
              <div class="ui-inputgroup">
                <p-calendar [locale]="search.calendarLanguage.pt_BR" [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" [(ngModel)]="search.whereTextSearch2" placeholder="Até: Data e Hora"></p-calendar>
                <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="searchManual('between')"></button>
              </div>
            </div>

            <div class="organize" *ngSwitchCase="'date'">
              <p-calendar [locale]="search.calendarLanguage.pt_BR" [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" [(ngModel)]="search.whereTextSearch" placeholder="De: Data e Hora"></p-calendar>
              <div class="ui-inputgroup">
                <p-calendar [locale]="search.calendarLanguage.pt_BR" [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" [(ngModel)]="search.whereTextSearch2" placeholder="Até: Data e Hora"></p-calendar>
                <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="searchManual('between')"></button>
              </div>
            </div>-->

            <!--Option Status-->
            <p-dropdown class="text-left"
              *ngSwitchCase="'textStatus'"
              [options]="search.searchOptionsStatus"
              [autoDisplayFirst]="false"
              placeholder="Selecionar Status"
              [(ngModel)]="search.whereTextSearch"
              (onChange)="getAllOffers()"
            ></p-dropdown>

            <!--Option True or False-->
            <p-dropdown class="text-left"
              *ngSwitchCase="'boolean'"
              [options]="search.searchOptionsBoolean"
              [autoDisplayFirst]="false"
              placeholder="Selecionar Opção"
              [(ngModel)]="search.whereTextSearch"
              (onChange)="getAllOffers()"
            ></p-dropdown>

            <!--Input-->
            <div class="ui-inputgroup" *ngSwitchDefault>
              <input pInputText type="search" accesskey="b" (search)="getAllOffers()" [(ngModel)]="search.whereTextSearch" placeholder="Pesquisar">
              <button pButton type="button" accesskey="s" icon="fas fa-search" class="ui-button-secondary" (click)="getAllUsers()"></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Header Table -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngStyle]="{'width': col?.width}" [pSortableColumn]="col.field" pResizableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>

        <th class="action" pResizableColumn>
          <button pButton type="button" accesskey="r" class="ui-button-secondary" pTooltip="Atualizar" tooltipPosition="top" icon="fas fa-sync" (click)="getAllOffers()"></button>
        </th>
      </tr>
    </ng-template>

    <!-- Body Table-->
    <ng-template pTemplate="body" let-dataOffers let-columns="columns">
      <tr
        [pSelectableRow]="dataOffers"
        (dblclick)="goToViewDetails(dataOffers.id)"
        [class.row-red]="!!!dataOffers.active"
      >
        <td class="ui-resizable-column" *ngFor="let col of columns" >
          <div class="m-0" [ngSwitch]="col.field">
            <span class="ui-column-title">{{col.header}}</span>
            <p *ngSwitchCase="'datetime_start'">{{ dataOffers[col.field] | date: 'dd/MM/yyyy HH:mm' }}</p>
            <p *ngSwitchCase="'datetime_end'">{{ dataOffers[col.field] | date: 'dd/MM/yyyy HH:mm' }}</p>
            <p *ngSwitchCase="'created_name_reason'">{{ dataOffers[col.field] | pickUpCertainWords:2 }}</p>
            <p *ngSwitchCase="'active'">{{ dataOffers[col.field] ? 'Sim' : 'Não' }}</p>
            <p *ngSwitchCase="'status'" class="status"
              [class.red]="dataOffers[col.field] == 'DESATIVADA'"
              [class.green]="dataOffers[col.field] == 'ANDAMENTO'"
              [class.orange]="dataOffers[col.field] == 'AGUARDANDO'"
              [class.grey]="dataOffers[col.field] == 'FINALIZADA'"
            >
              {{ dataOffers[col.field] | titlecase }}
            </p>
            <p *ngSwitchDefault>{{ dataOffers[col.field] }}</p>
          </div>
        </td>

        <td>
          <span class="ui-column-title">Opções</span>
          <button pButton type="button" class="ui-button-secondary" icon="fas fa-eye" pTooltip="Visualizar detalhes" tooltipPosition="left" [routerLink]="['cadastro/', dataOffers.id]"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr class="emptymessage">
        <td [attr.colspan]="columns.length + 1">
          Nenhuma agenda de oferta foi encontrada
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      Total de agendas encontradas: {{table.elementsPagination.total}}
    </ng-template>
  </p-table>

  <p-paginator
    [rows]="table.rowsOnPage"
    [totalRecords]="table.elementsPagination.total"
    [alwaysShow]="false"
    [pageLinkSize]="5"
    (onPageChange)="setPage($event)"
    [rowsPerPageOptions]="table.selectRowsOnPage">
  </p-paginator>

  <li class="row-red m-0 mt-2">Agenda de oferta desativada.</li>
</p-panel>
